<ion-header>
  <div class="div_header">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
      <div>
        <ion-label class="username">Rahul Jograna</ion-label>
        <ion-label class="active_session">Mobile • 45 min ago</ion-label>
      </div>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="image_div">
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
      <ion-label class="username">Rahul Jograna</ion-label>
      <ion-label class="active_session">Software Engineer</ion-label>
    </div>

    <div class="or_div">
      <img src="assets/imgs/line.png" class="line_img">
      <ion-label class="or_text">Today</ion-label>
      <img src="assets/imgs/line.png" class="line_img">
    </div>

    <div class="content_div">
      <div class="list_div" *ngFor="let item of messages" (click)="goToChat()">
        <div class="back_image" [style.backgroundImage]="'url('+item.img+')'"></div>
        <div class="desc">
          <ion-label class="usernane">{{item.user}} • <span class="time">07:00 PM</span></ion-label>
          <ion-label class="msg">{{item.msg}}</ion-label>
          <!-- <ion-label class="time">07:00 PM</ion-label> -->
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <div class="add_div">
      <ion-icon slot="start" class="add_icn" name="add"></ion-icon>
    </div>
    <ion-input type="text" placeholder="Type message"></ion-input>
    <div>
      <ion-icon class="send" name="send-sharp"></ion-icon>
    </div>
  </div>
</ion-footer>