.div_header{
    background: var(--ion-color-main);
    height: 100px;
    align-items: center;
    padding-top: 40px;
    ion-label {
        display: block;
        color: white;
    }

    .username{
        font-weight: 600;
    }
    .active_session{
        font-size: 14px;
    }
}

.main_content_div{
    width: 100%;
    .image_div{
        padding: 16px;

        .back_image{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }   
        ion-label {
            display: block;
            margin-top: 7px;
        }
    
        .username{
            font-weight: 600;
        }
        .active_session{
            font-size: 14px;
        }
    }

    .or_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .line_img{
            height: 10px;
            width: 40%;
        }
        .or_text{
            color: black;
        }
    }

    .content_div{
        padding: 16px;
        .list_div{
            display: flex;
            padding: 6px 0px;
            // border-bottom: 1px solid lightgray;
            align-items: center;
            .back_image{
                height: 30px;
                width: 30px;
                min-width: 30px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }

            .desc{
                width: 100%;
                padding-left: 8px;
                position: relative;
                width: 100%;
                ion-label {
                    display: block;
                }

                .usernane{
                    font-weight: 600;
                    font-size: 14px;
                }
                .msg{
                    font-size: 14px;
                    margin-top: 3px;
                }

                .time{
                    font-size: 12px;
                    color: #505050;
                }
            }
        }
    }
}

.footer_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E1E9EE;
    padding: 16px;

    .add_div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        position: relative;
    }

    .add_icn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 25px;
        color: #505050;
    }
    ion-input{
        background: white;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        --padding-start: 8px;
    }
    .send{
        font-size: 25px;
        color: var(--ion-color-main);
    }
}
