<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <ion-buttons slot="start">
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;" (click)="goToChatList()"></ion-icon>
    </div>
    <!-- <ion-title *ngIf="!categoryTitle">Recent posts</ion-title> -->
    <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
    <ion-buttons slot="start" *ngIf="categoryTitle">
      <ion-back-button defaultHref="posts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="up_lbl">
      <ion-label>Get More out of Diselship Job</ion-label>
      <ion-buttons slot="start" *ngIf="!showSlider">
        <ion-button (click)="sliderShow(true)" color="dark">
          <ion-icon name="chevron-up-outline" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="start" *ngIf="showSlider">
        <ion-button (click)="sliderShow(false)" color="dark">
          <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>

    <div class="chips_div" *ngIf="!showSlider">
      <ion-label class="chip" *ngFor="let item of chips">{{item}}</ion-label>
    </div>

    <div class="slider_div" *ngIf="showSlider">
      <ion-slides mode="ios" pager="ios" [options]="slideoptions">

        <ion-slide>
          <div class="slide_div">
            <div class="up_div">
              <div class="img_div">
                <img src="assets/imgs/right.png" class="slider_img">
              </div>
              <div class="content_div">
                <ion-label class="head_lbl">Add a photo to get recognize</ion-label>
                <ion-label class="small_lbl">A picture helps you build your network</ion-label>
              </div>
            </div>

            <div class="lower_div">
              <ion-button expand="block" fill="clear" size="small">
                ADD PHOTO
              </ion-button>
            </div>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide_div">
            <div class="up_div">
              <div class="img_div">
                <img src="assets/imgs/user.jpg" class="slider_img">
              </div>
              <div class="content_div">
                <ion-label class="head_lbl">Jonh Doe</ion-label>
                <ion-label class="small_lbl">Lorem Ipsum is simply dummy text</ion-label>
              </div>
            </div>

            <div class="lower_div">
              <ion-button expand="block" fill="clear" size="small">
                IGNORE
              </ion-button>
              <ion-button expand="block" fill="clear" size="small">
                ACCEPT
              </ion-button>
            </div>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide_div" style="flex-direction: row;padding: 0px 15px;">
            <div class="img_div">
              <img src="assets/imgs/right.png" class="slider_img">
            </div>
            <div class="content_div">
              <ion-label class="head_lbl">Hashtags followed!</ion-label>
              <ion-label class="small_lbl">Lorem Ipsum is simply dummy text of the</ion-label>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>




    
    <div style="margin-top: 10px;">
      
        <!-- Card 1 -->
        <ion-content class="page-content"></ion-content>
        <div class="div_card" *ngFor="let post of posts" [routerLink]="['/post', post.id]" >
          <div class="head_div">

            <div class="img_div" [style.backgroundImage]="'url(assets/imgs/user.jpg)'"></div>

            <div class="content_div">
              <ion-label class="head_lbl">Infosys</ion-label>
              <ion-label class="small_lbl">2,34,567 followers</ion-label>
              <ion-label class="small_lbl" *ngIf="!post.modified">{{post.date | date}}</ion-label>
              <ion-label  class="small_lbl" *ngIf="post.modified">{{post.modified | date}}</ion-label>
     
            </div>

            <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
          <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
          <div class="desc_div">
            <ion-label  [innerHTML]="post.excerpt.rendered">
              
            </ion-label>


           
            <ion-label class="see_lbl">See more</ion-label>
          </div>

          <div class="card_image" [style.backgroundImage]="'url('+post.media_url+')'"></div>
          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              <img src="assets/imgs/heart.png" alt="">
            </div>
            <div>25 Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp" style="margin-right:5px"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="share-social" style="margin-right:5px"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div>
        

        <!-- card 2 -->
 <!--        <div class="div_card">
          <div class="head_div">

            <div class="img_div" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>

            <div class="content_div">
              <ion-label class="head_lbl">John Doe</ion-label>
              <ion-label class="small_lbl">InitApps shop</ion-label>
              <ion-label class="small_lbl">1 w • Edited</ion-label>
            </div>

            <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

          <div class="desc_div">
            <ion-label>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text
            </ion-label>
            <ion-label class="see_lbl">See more</ion-label>
          </div>

          <div class="masonry">
            <div class="item">
              <img src="assets/imgs/grid/grid1.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid2.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid3.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid4.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid5.jpg">
            </div>
          </div>

          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              <img src="assets/imgs/heart.png" alt="">
            </div>
            <div>25 Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp" style="margin-right:5px"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="share-social" style="margin-right:5px"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div>

        Card 3 

        <div class="div_card">
          <div class="head_div">

            <div class="img_div" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>

            <div class="content_div">
              <ion-label class="head_lbl">John Doe</ion-label>
              <ion-label class="small_lbl">InitApps shop</ion-label>
              <ion-label class="small_lbl">1 w • Edited</ion-label>
            </div>

            <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

          <div class="desc_div">
            <ion-label>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text
            </ion-label>
            <ion-label class="see_lbl">See more</ion-label>
          </div>

          <video width="100%" height="240" controls poster="assets/imgs/grid/grid4.jpg">
            <source src="assets/imgs/video.mp4" type="video/mp4">
          </video>

          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              <img src="assets/imgs/heart.png" alt="">
            </div>
            <div>25 Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up-sharp"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="share-social"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div> -->
      
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>