<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Job Profile Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">
   
    <div class="personal_div">
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)="editProfile()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="cloud-upload-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Upload Sea Profile PDF </p>
         
        </ion-label>
      </div>
      <div class="or">----- Or ------</div> 
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)="editProfile()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="person-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Personal Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)="presentadd()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="business-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Present Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)="permenantadd()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="home-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Permenant Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;"  (click)="jobphysical()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="accessibility-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Physical Details </p>
         
        </ion-label>
  
      </div> <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" education()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="school-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Educational Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" preseatraining()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="boat-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Pre Sea Training Detail </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" modularcoursedetails()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="library-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Modular Course Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" seagoing()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="stats-chart-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Sea Going Service </p>
         
        </ion-label>
      </div>

      
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" portsea()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="golf-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Post Sea Training Details </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;"  (click)=" endorsement()"> 
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="newspaper-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon">Certificate of Endorsement </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" competency()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="podium-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Certificate of Competency </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" authorised()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="key-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Authorised Documents </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;" (click)=" verification()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="checkmark-circle-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Document Verification </p>
         
        </ion-label>
      </div>
     

      <!-- <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->