ion-toolbar{
    --background : var(--ion-color-main);
    ion-input{
        border-bottom: 1px solid white;
        --color: white;
        --placeholder-color : white;
        --padding-start : 8px;
    }
    ion-icon{
        color: white;
        font-size: 24px;
    }
}
#content {
    position: relative;
    // margin-top: auto;
    background-color:#ffffff;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    /* padding-top:200px; */
    border-radius: 15px;
      height: 225px;
      overflow: unset;
      display: block;
      top: 135px;
     // margin-top: 100px;
  }
  
  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    
    z-index: 2;
    text-align: center;
  }
  .icon-style{
    width: 100%;
    height: 53%;
    margin-top: 12px;
}
.text-label {
margin-top: 55px;
text-align: center;
font-size: 12px;
font-weight: bold;

}
.or{
    padding: 10px;
    margin: 10px;
    color: var(--ion-color-main);
    text-align: center;
    font-weight: bold;
    border-top: 1px solid lightgray;
}
  .icon-label {
    border-radius: 50%;
   // border: 2px solid red;
   background: #f5f5f5;
   left: 25%;
   width:50px;
   box-shadow: 0px 3px 7px #8f8989;
   height: 50px;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #profile-image {
    display: block;
    border-radius: 120px;
    border: 3px solid #fff;
    width: 128px;
    background: white;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
   // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
.save{
    --border-color: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
    color: var(--ion-color-main);
}
.apply{
    --background: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
}
ion-content{
    --background: #F5F5F5;
}
.white_div{
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    // ion-button{
    //     --border-radius: 0px;
    //     ion-label {
    //         text-align: left;
    //         width: 100%;
    //         font-size: 16px;
    //         color: var(--ion-color-main);
    //     }   
    //     ion-icon{
    //         color: var(--ion-color-main);
    //     }
    // }

    .left-icon{
        color: var(--ion-color-main);
        position: absolute;
        left: 16px;
        font-size: 26px;
    }
    .lable-icon{
          padding-left: 22px;
          padding-top: 5px;
          color: var(--ion-color-main);
          font-size: 17px;
          cursor: pointer;
    }
    .right-icon{
        color: var(--ion-color-main);
        position: absolute;
        right: 16px;
        font-size: 20px;
    }

    ion-button{
        color: var(--ion-color-main);
        font-size: 600;
    }
}
.main_content_div{
    width: 100%;

    .no_border{
        border-bottom: none !important;
    }

    ion-label {
        display: block;
    }

    .cover{
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .user_image{
            width: 70px;
            height: 70px;
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            border-radius: 15px;
            position: absolute;
            left: 40%;
            top: 25%;
            background: white;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        }
        .data_div{
            padding: 16px;
            padding-top: 114px;
            padding-right: 10%;
    
            ion-label {
                margin-bottom: 2px;
            }
    
            .group_title{
                text-align: center;
                font-size: 20px;
                padding-top: 30px;
                color: white;
                text-shadow: 2px 2px 8px black;
                font-weight: bolder;
                
            }
            
            .group_type{
                font-size: 14px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
            }
            .description{
                font-size: 14px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
            }
            .admin{
                display: flex;
                padding-bottom: 5px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
                img{
                    width: 15px;
                    height: 15px;
                    text-align: center;
                }
                .admin_name{
                    text-align: center;
                    margin-left: 10px;
                    padding: 0;
                    font-size: 14px;
                    color: gray;
                }
            }
        }
    
    }

       
    .personal_div{
        background: white;
        padding: 16px;
     
        ion-label {
            margin-bottom: 2px;
        }

        .job_title{
            font-size: 20px;
            padding-top: 30px;
        }
        .compamy_name{
            font-size: 14px;
        }
        .address{
            font-size: 14px;
        }
        .easy_div{
            display: flex;
            padding-bottom: 5px;
            img{
                width: 15px;
                height: 15px;
            }
            .easy{
                font-size: 12px;
                margin-left: 10px;
                padding: 0;
            }
            .time{
                margin-left: 10px;
                padding: 0;
                font-size: 14px;
                color: gray;
            }
        }
    }

    .job_div{
        background: white;
        padding: 16px;
        margin-top: 10px;


        .job_header{
            padding-bottom: 5px;
            font-size: 16px !important;
        }

        ion-label {
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        border-top: 1px solid lightgray;
        .blue_lbl{
            color: var(--ion-color-main);
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }
    }

    .desc_div{
        margin-top: 10px;
        padding: 16px;
        background: white;
        position: relative;

        .light_lbl{
            font-size: 14px;
            color: gray;
        }

        ion-toggle{
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }

        .premium_btn{
            margin-top: 10px;
            --border-radius: 3px;
            height: 40px;
            --background: #78710c;
        }

        .flex_div{
            display: flex;
            align-items: center;
            padding-top: 10px;
            width: 100%;
            justify-content: space-between;
            .image{
                height: 45px;
                width: 45px;
                max-width: 45px;
                border-radius: 3px;
            }

            .content_div{
                margin-left: 10px;
                .head_lbl{
                    font-weight: 600;
                }
                .small_lbl{
                    font-size: 14px;
                }
            }

            .fallow_btn{
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        }
    }
}