<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Messaging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="flex_div">
      <ion-input type="text" placeholder="Search Message">
        <ion-icon name="search-outline"></ion-icon>
      </ion-input>
      <ion-icon name="options-outline"></ion-icon>
    </div>

    <div class="flex_div2">
      <ion-chip *ngFor="let item of chips">
        <ion-label>{{item}}</ion-label>
      </ion-chip>
    </div>

    <div class="content_div">
      <div class="list_div" *ngFor="let item of users" (click)="goToChat()">
        <div class="back_image" [style.backgroundImage]="'url('+item.img+')'"></div>
        <div class="desc">
          <ion-label class="usernane">Jonh Doe</ion-label>
          <ion-label class="msg">You: Hii</ion-label>
          <ion-label class="time">07:00 PM</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>