ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.main_content_div{
    width: 100%;

    .flex_div{
        display: flex;
        align-items: center;
        padding: 5px 16px;
        border-bottom: 1px solid lightgray;
    }

    .flex_div2{
        display: inline-flex;
        border-bottom: 1px solid lightgray;
        padding: 5px 16px;


        ion-label {
            white-space: nowrap;
        }
    }

    ion-icon{
        font-size: 22px;
        color: #505050;
    }

    .content_div{
        .list_div{
            display: flex;
            padding: 10px 16px;
            border-bottom: 1px solid lightgray;
            align-items: center;
            .back_image{
                height: 50px;
                width: 50px;
                min-width: 50px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }

            .desc{
                width: 100%;
                padding-left: 16px;
                position: relative;
                width: 100%;
                ion-label {
                    display: block;
                }

                .usernane{
                    font-weight: 600;
                }
                .msg{
                    font-size: 14px;
                    margin-top: 3px;
                }

                .time{
                    position: absolute;
                    font-size: 12px;
                    color: #505050;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}