<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Authorised Documents </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">
        

        <ion-item>
          <ion-label position="floating">Document Type</ion-label>
          <ion-input  formControlName="authorised_document_type1" [(ngModel)]="data.authorised_document_type1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_document_type1.errors?.required">
          Document Type is required.
        </span>


        <ion-item>
          <ion-label position="floating">Document Number</ion-label>
          <ion-input  formControlName="authorised_document_number1" [(ngModel)]="data.authorised_document_number1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_document_number1.errors?.required">
          Document Number is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_document_number1.errors?.pattern">
          Only numerical values allowed.
        </span>


        <ion-item>
          <ion-label position="floating">Valid Upto (Date)</ion-label>
          <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.authorised_valid_upto1"  class="ip" formControlName="authorised_valid_upto1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_valid_upto1.errors?.required">
          Valid Upto (Date) is required.
        </span>

        
        <ion-item>
          <ion-label position="floating">Issue Date</ion-label>
          <ion-datetime (ionChange)="getDate2($event)"  [(ngModel)]="data.authorised_issued_date1"  class="ip" formControlName="authorised_issued_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_issued_date1.errors?.required">
          Issue Date is required.
        </span>


        <ion-item>
          <ion-label position="floating">Issued At</ion-label>
          <ion-datetime (ionChange)="getDate3($event)" formControlName="authorised_issued_at1" [(ngModel)]="data.authorised_issued_at1" class="ip" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.authorised_issued_at1.errors?.required">
          Issued At is required.
        </span>


      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label>Update</ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>