<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="regular" selected>
      Regular
    </ion-segment-button>
    <ion-segment-button value="pinterest">
      Pinterest
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of data">
          <div class="image-container"  [ngStyle]= "{'background-image': 'url('+ image.attachment_data.full +')'}" (click)="viewPhoto(image.attachment_data.full)" ></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="images" *ngSwitchCase="'pinterest'">
      <div class="one-image" *ngFor="let image of data">
        <img src="{{image.attachment_data.full}}" (click)=" openimage(image.attachment_data.full)">
      </div>
    </div>
 
    <!-- More Pinterest floating gallery style -->
 
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->