<ion-header>
  <ion-toolbar>
    <ion-title color="light">Share Post</ion-title>
    <ion-button slot="end" expand="block" fill="clear" size="small" (click)="post()">
      Post
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="flex_div">
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
      <div class="content_div">
        <ion-label class="username">Jonh Doe</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Anyone</ion-select-option>
          <ion-select-option value="blonde">Connections only</ion-select-option>
          <ion-select-option value="black">Advance setings</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div class="textarea_div">
      <ion-textarea autoGrow="true" placeholder="What do you want to talk about? "></ion-textarea>
    </div>

  </div>
</ion-content>
<ion-footer>
  <div class="hashtag_div">
    <ion-label class="blue_lbl"># Add Hashtag</ion-label>
    <ion-label class="gray_lbl">Help thi right people see your post</ion-label>
  </div>

  <div style="position: relative;">
    <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="image-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="openActionSheet()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="clear" class="at_btn">
      <ion-icon slot="icon-only" name="at-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>