ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-button{
    color: white;
    font-weight: 600px;
    font-size: 16px;
}

.main_content_div{
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }

    .flex_div{
        display: flex;
        align-items: center;
        .back_image{
            height: 50px;
            width: 50px;
            min-width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content_div{
            margin-left: 10px;

            .username{
                font-weight: 600;
                margin-bottom: 3px;
            }

            ion-select{
                border: 1px solid lightgrey;
                border-radius: 5px;
                padding: 3px 10px;
                font-size: 14px;
            }
        }
    }

    .textarea_div{
        margin-top: 20px;
        ion-textarea{
            width: 100%;
            height: 200px;
            // border: 1px solid lightgray;
        }
    }
}
ion-footer{

    .hashtag_div{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 16px;
        font-weight: 600;

        .blue_lbl{
            color: var(--ion-color-main);
        }
        .gray_lbl{
            color : gray;
        }
    }
    ion-icon{
        color: var(--ion-color-main);
        font-size: 20px;
    }
    ion-button{
        margin: 0;
    }
    .at_btn{
        position: absolute;
        right: 0;
    }
}