.header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo_div{
        display: flex;
        .header_lbl{
            color: var(--ion-color-main);
            font-weight: bold;
            font-size: 18px;
            margin-left: 10px;
        }
        .logo_img{
            margin-left: 1px;
            width: 20px;
            height: 20px;
        }
    }
    ion-button{
        color: var(--ion-color-main);
        font-weight: 600;
        font-size: 14px;
    }
}
.red{
    background-color: #f23d3d;
    color: white;
    border-radius: 25px;
    padding: 7px;
}
.green{
    background-color: green;
    color: white;
    border-radius: 25px;
    padding: 7px;
}
.blue{
    background-color: var(--ion-color-main);
    color: white;
    border-radius: 25px;
    padding: 7px;
}
.error{
    color: red;
    padding: 5px;
}
ion-toolbar{
    --background : var(--ion-color-main);
    ion-input{
        border-bottom: 1px solid white;
        --color: white;
        --placeholder-color : white;
        --padding-start : 8px;
    }
    ion-icon{
        color: white;
        font-size: 24px;
    }
}
#content {
    background-color: #ffffff;
    box-shadow: 0px -1px 10px rgb(0 0 0 / 40%);
    height: 305px;
    overflow: unset;
    display: block;
    border-radius: 15px;
    background-size: cover;
  }
  .edit-btn{
    font-size: 23px;
    float: right;
    margin: 10px;
    color: white;
    padding: 7px;
    background: var(--ion-color-main);
    border-radius: 10px;
    position: absolute;
    right: 0%;
}
.edit-btn2{
    font-size: 23px;
    float: right;
    margin: 10px;
    color: white;
    padding: 7px;
    background: var(--ion-color-main);
    border-radius: 10px;
    position: absolute;
    right: 28%;
    z-index: 10;
    top: 51%;
}
  #profile-info {
    width: 100%;
    z-index: 2;
    padding-top: 1px;
    text-align: center;
    position: absolute;
    
    top: 45%;
  }
  #profile-image {
    display: block;
    border-radius: 120px;
    border: 3px solid #fff;
    width: 128px;
    background: white;
    height: 128px;
   
    margin: 30px auto 0;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
   // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }

.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;

    .header_lbl{
        font-size: 26px;
        font-weight: 600;
    }
    .join_btn{
        --background : white;
        --color: #0077B5;
        // --border-radius: 10px;
        border: 1px solid var(--ion-color-main);
    }
    .btn_search{
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }
    .or_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;

        .line_img{
            height: 10px;
            width: 40%;
        }
        .or_text{
            color: black;
        }
    }

    .form_div{
        ion-item{
            border-bottom: none;
            --padding-start: 0px;
            .ip{
                border-bottom: 1px solid white;
            }
        }

        .join_now{
            margin-top: 20px;
            border: 1px solid white;
            --background : var(--ion-color-main);
            font-weight: bold;
            font-size: 18px;
        }

        .bottom_lbl{
            display: block;
            font-size: 14px;
            margin-top: 20px;

            span{
                color: var(--ion-color-main) !important;
                font-weight: bold;
                color: gra;
            }
        }
    }
}