<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> Pre Sea Training Detail </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label position="floating">Status</ion-label>
          </ion-col>
          <ion-col size="4">
            <span class="red" >Inactive</span>
            <span class="green" >Inactive</span>
            <span class="bule" >Inactive</span>
          </ion-col>
        </ion-row>
      
       
      </ion-grid>

      <ion-button class="join_now" (click)="userupdate()"  expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Click to Start Verification </ion-label>
      </ion-button>
     
    </div>

  
  </div>
</ion-content>