<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Personal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   


    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">
      <ion-item>
        <ion-label position="floating">Surname / Last Name</ion-label>
        <ion-input  formControlName="surname" [(ngModel)]="data.surname" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.surname.errors?.required">
        Surname / Last Name is required.
      </span>
      <ion-item>
        <ion-label position="floating">Given Name</ion-label>
        <ion-input  formControlName="givenname" [(ngModel)]="data.givenname" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.givenname.errors?.required">
        Given Name is required.
      </span>
      <ion-item>
        <ion-label position="floating">indosno.</ion-label>
        <ion-input type="text" formControlName="indosno" [(ngModel)]="data.indosno" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.indosno.errors?.required">
        indosno is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.indosno.errors?.pattern">
        Only numerical values allowed.
      </span>
      <ion-item>
       
        <ion-radio-group formControlName="gender" [(ngModel)]="data.gender" lines="full" required>
          <ion-list-header>
            <ion-label>Gender</ion-label>
          </ion-list-header>
    
    
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male"  checked></ion-radio>
          </ion-item>
    
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio slot="start"  value="female"></ion-radio>
          </ion-item>
        </ion-radio-group>
        
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.gender.errors?.required">
        Gender is required.
      </span>
      <ion-item>
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.date_of_birth"  class="ip" formControlName="date_of_birth" [value]="defaultDate" required></ion-datetime>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date_of_birth.errors?.required">
        Date of Birth is required.
      </span>
      <ion-item>
        <ion-label position="floating">Place of Birth </ion-label>
        <ion-input  [(ngModel)]="data.place_of_birth"  class="ip" formControlName="place_of_birth" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.place_of_birth.errors?.required">
        Place of Birth is required.
      </span>
      <ion-item>
        <ion-label color="medium">Birth Country</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.birth_country"  name="birth_country" formControlName="birth_country">
          <ion-select-option *ngFor="let item of country" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end></ion-icon>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.birth_country.errors?.required">
        Birth Country is required.
      </span>

      <ion-item>
        <ion-label position="floating">Discipline </ion-label>
        <ion-input formControlName="disc" [(ngModel)]="data.disc" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.disc.errors?.required">
        Discipline is required.
      </span>
      <ion-item>
        <ion-label color="medium">Birth State</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.birth_state"  name="birth_state" formControlName="birth_state">
          <ion-select-option *ngFor="let item of country" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end ></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.birth_state.errors?.required">
        Birth State is required.
      </span>
      <ion-item>
        <ion-label color="medium">Nationality </ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.nationality"  name="nationality" formControlName="nationality">
          <ion-select-option *ngFor="let item of country" value="{{item.value}}">
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nationality.errors?.required">
        Nationality is required.
      </span>
      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>