ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header_div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;

    .user_image{
        height: 25px;
        width: 25px;
    }
    ion-searchbar{
        --background: white;   
        --placeholder-color:  #707070; 
        --icon-color : #707070;
        border-radius: 0px;
        height: 30px;
    }
}

ion-content{
    --background: #F5F5F5;
}

.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    .head_lbl{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        // ion-button{
        //     --border-radius: 0px;
        //     ion-label {
        //         text-align: left;
        //         width: 100%;
        //         font-size: 16px;
        //         color: var(--ion-color-main);
        //     }   
        //     ion-icon{
        //         color: var(--ion-color-main);
        //     }
        // }

        .blue_lbl{
            color: var(--ion-color-main);
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }
        ion-icon{
            color: var(--ion-color-main);
            position: absolute;
            right: 16px;
            font-size: 20px;
        }

        ion-button{
            color: var(--ion-color-main);
            font-size: 600;
        }
    }

    .flex_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        background: white;


        .f_div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 16px;

            .detail{
                margin-left: 10px;
                .desc{
                    color:gray;
                }
            }
            .back_image{
                height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .s_div{
            display: flex;
            align-items: center;
            padding-right: 16px;
            ion-icon{
                font-size: 40px;
            }

            .cross{
                color: gray;
            }
            .check{
                color: var(--ion-color-main);
            }
        }
    }

    .user_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;

        .col_div{
            border: 1px solid lightgray;
        }

        ion-grid{
            padding: 0;
        }
        
        .cover{
            height: 50px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .close{
                font-size: 25px;
                // color: #505050;
                color: black;
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
        .back_image{
            height: 75px;
            width: 75px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 40%;
            border: 3px solid white;
        }

        .username{
            margin-top: 45px;
            text-align: center;
            text-align: center;
        }
        .detail{
            margin-top: 5px;
            color: gray;
            text-align: center;
            font-size: 14px;
        }

        .mutual_div{
            display: flex;
            justify-content: center;
            margin-top: 8px;
            .link{
                width: 15px;
                height: 15px;
            }
            .link_lbl{
                font-size: 12px;
                color: gray;
                margin-left: 5px;
            }
        }

        ion-button{
            --border-radius: 3px;
            color: var(--ion-color-main);
            --border-color: var(--ion-color-main);
            font-weight: 600px;
            margin: 10px;
        }
    }
}