<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <ion-buttons slot="start">
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <!-- <div class="white_div" style="margin-top: -4px;">
      <ion-button (click)="onClick()" fill="clear" expand="block" >
        <ion-label>Manage my network</ion-label>
         <ion-icon name="chevron-forward-outline"></ion-icon>
         <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </div> -->

    <div class="white_div" (click)="goToManageNetwork()">
      <ion-label class="blue_lbl">Manage my network <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </div>

    <div class="white_div" style="margin-bottom: 0px;">
      <ion-label class="blue_lbl">Invitations <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </div>

    <div class="flex_div" *ngFor="let item of (users|slice : 0:3)">
      <div class="f_div">
        <div class="back_image" [style.backgroundImage]="'url( ' + item.img+ ' )'"></div>
        <div class="detail">
          <ion-label class="name">John Doe</ion-label>
          <ion-label class="desc">At Initapps Shop</ion-label>
        </div>
      </div>
      <div class="s_div">
        <ion-icon slot="icon-only" name="close-circle-outline" class="cross"></ion-icon>
        <ion-icon slot="icon-only" name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </div>
    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;" (click)="gotoInvitations()">SHOW MORE</ion-label>
    </div>

    <div class="user_div" *ngFor="let item of [1,2,3]">
      <ion-label class="head_lbl">People you nay know from GOVERNMENT ENVIRONMENT COLLEGE, BHAVNAGAR</ion-label>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let item of users" (click)="goToPeopleProfile()">
            <div class="col_div">
              <div class="cover" [style.backgroundImage]="'url( ' + item.cover+ ' )'">
                <ion-icon slot="start" name="close-circle" class="close"></ion-icon>
                <div class="back_image" [style.backgroundImage]="'url( ' + item.img+ ' )'"></div>
              </div>

              <ion-label class="username">John Doe</ion-label>
              <ion-label class="detail">GEC, BHAVNAGAR</ion-label>

              <div class="mutual_div">
                <img src="assets/imgs/link.png" class="link">
                <ion-label class="link_lbl">2 Mutual Connection</ion-label>
              </div>

              <ion-button expand="block" fill="outline" size="small">
                CONNECT
              </ion-button>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>