ion-toolbar{
    --background : var(--ion-color-main);
    ion-input{
        border-bottom: 1px solid white;
        --color: white;
        --placeholder-color : white;
        --padding-start : 8px;
    }
    ion-icon{
        color: white;
        font-size: 24px;
    }
}
.save{
    --border-color: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
    color: var(--ion-color-main);
}
.apply{
    --background: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
}
ion-content{
    --background: #F5F5F5;
}
.main_content_div{
    width: 100%;

    .no_border{
        border-bottom: none !important;
    }

    ion-label {
        display: block;
    }

    .cover{
        width: 100%;
        height: 60px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .user_image{
            width: 70px;
            height: 70px;
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            border-radius: 5px;
            position: absolute;
            left: 16px;
            top: 45%;
            background: white;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        }
    }

       
    .personal_div{
        background: white;
        padding: 16px;

        ion-label {
            margin-bottom: 2px;
        }

        .job_title{
            font-size: 20px;
            padding-top: 30px;
        }
        .compamy_name{
            font-size: 14px;
        }
        .address{
            font-size: 14px;
        }
        .easy_div{
            display: flex;
            padding-bottom: 5px;
            img{
                width: 15px;
                height: 15px;
            }
            .easy{
                font-size: 12px;
                margin-left: 10px;
                padding: 0;
            }
            .time{
                margin-left: 10px;
                padding: 0;
                font-size: 14px;
                color: gray;
            }
        }
    }

    .job_div{
        background: white;
        padding: 16px;
        margin-top: 10px;


        .job_header{
            padding-bottom: 5px;
            font-size: 16px !important;
        }

        ion-label {
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        border-top: 1px solid lightgray;
        .blue_lbl{
            color: var(--ion-color-main);
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }
    }

    .desc_div{
        margin-top: 10px;
        padding: 16px;
        background: white;
        position: relative;

        .light_lbl{
            font-size: 14px;
            color: gray;
        }

        ion-toggle{
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }

        .premium_btn{
            margin-top: 10px;
            --border-radius: 3px;
            height: 40px;
            --background: #78710c;
        }

        .flex_div{
            display: flex;
            align-items: center;
            padding-top: 10px;
            width: 100%;
            justify-content: space-between;
            .image{
                height: 45px;
                width: 45px;
                max-width: 45px;
                border-radius: 3px;
            }

            .content_div{
                margin-left: 10px;
                .head_lbl{
                    font-weight: 600;
                }
                .small_lbl{
                    font-size: 14px;
                }
            }

            .fallow_btn{
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        }
    }
}