<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Search"></ion-input>
    <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="cover" [style.backgroundImage]="'url(assets/imgs/back1.jpg)'">
      <div class="user_image">
        <img src="assets/imgs/company/initappz.png" alt="">
      </div>
    </div>

    <div class="personal_div">

      <ion-label class="job_title">Web Designer (HTML Developer)</ion-label>
      <ion-label class="compamy_name">Initappz Shpp</ion-label>
      <ion-label class="address">Bhavnagar, IN</ion-label>
      <div class="easy_div">
        <img src="assets/imgs/clock.png">
        <ion-label class="time">Be among the first 20 Applicants</ion-label>
      </div>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>