<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">
      <ion-button (click)="BackButton()" slot="start">
        <ion-icon  name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-buttons slot="start"> -->
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <!-- <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons> -->
      <ion-title color="light">Forums</ion-title>
      <!-- <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar> -->
      <!-- <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

   
     
  

    <div class="notification_div"    *ngFor="let item of forums" >
   
      <div class="flex_div" [routerLink]="['/forum-detail', item.id]" style="justify-content: flex-start;">
        <div class="back_image" [ngStyle]= "{'background-image': 'url('+ item.avatar +')'}" ></div>
        <div>
          <ion-label class="header_lbl">{{item.title}}
          </ion-label>
          <ion-label class="desc ">{{item.content}}
          </ion-label>
          <ion-label class="desc count">{{item.count}} Discussions</ion-label>
        </div>
      </div>
      <!-- <div class="btn_div" *ngIf="item.btn_text != ''">
        <ion-button fill="outline" size="small">
          {{item.btn_text}}
        </ion-button>
      </div> -->
    </div>



  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>