<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <ion-buttons slot="start">
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <ion-label class="head_lbl">Recent</ion-label>
    <div>
      <div class="notification_div" *ngFor="let item of dummyData" (click)="goToPost()">
        <div class="time_div">
          <ion-icon name="ellipsis-vertical"></ion-icon>
          <ion-label style="margin-top: 5px;">9h</ion-label>
        </div>
        <div class="flex_div">
          <div class="back_image" [style.backgroundImage]="'url( '+item.img+' )'"></div>
          <div>
            <ion-label class="header_lbl">What is Lorem Ipsum?</ion-label>
            <ion-label class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </ion-label>
          </div>
        </div>
        <div class="btn_div" *ngIf="item.btn_text != ''">
          <ion-button fill="outline" size="small">
            {{item.btn_text}}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>