ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-content{
    --background: #F5F5F5;
}

.main_content_div{
    ion-label {
        display: block;
    }
    .head_lbl{
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;
    }

    .notification_div{
        padding: 15px 10px;
        border-bottom: 1px solid lightgray;
        position: relative;
        background: white;
            
        .time_div{
            position: absolute;
            right: 10px;
            top: 5px;
            color: gray;
        }
        .flex_div{
            display: flex;
            width: 100%;
            align-items: center;
            .back_image{
                height: 50px;
                width: 50px;
                min-width: 50px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .header_lbl{
                font-weight: 600;
                margin-left: 10px;
                font-size: 14px;
                width: 88%;
            }
            .desc{
                margin-left: 10px;
                font-size: 14px;
                width: 88%;
            }
        }

        .btn_div{
            padding-left: 60px;
            margin-top: 5px;

            ion-button{
                font-weight: 600;
                --border-radius: 3px;
                --border-color: var(--ion-color-main);
                --color: var(--ion-color-main);
                font-size: 16px;
            }
        }
        
    }
}