ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.main_content_div{
    ion-label {
        display: block;
    }
    .simple_div{
        padding: 16px;
        ion-label {
            text-align: center;
        }
        .head_lbl{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    .post_div{
        margin-bottom: 16px;
        .cover{
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card{
            background: azure;
            width: 90%;
            border-radius: 10px;
            padding: 16px;

            display: block;
            margin: auto;
            margin-top: -90px;
            position: relative;


            .share{
                width: 20px;
                position: absolute;
                right: 10px;
            }

            .header_title{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 7px;
            }

            .light_lbl{
                color: gray;
                font-size: 14px;
                margin-bottom: 7px;
            }
            .desc{
                font-size: 14px;
            }

            .flex_div{
                display: flex;
                margin-top: 10px;
                align-items: center;
                .back_image{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 4px solid white;
                }

                .second{
                    position: absolute;
                    z-index: 99;
                    margin-left: 20px;
                }
                .third{
                    position: absolute;
                    z-index: 99999;
                    margin-left: 20px;
                    margin-left: 40px;
                }

                .blue_lbl{
                    font-weight: 600;
                    color: var(--ion-color-main);
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}