<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Daily Rundown</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="simple_div">
      <ion-label class="head_lbl">Friday, March 20</ion-label>
      <ion-label>Jonh, here's what you need to know today</ion-label>
    </div>

    <div class="post_div" *ngFor="let item of [1,2,3]">
      <div class="cover" [style.backgroundImage]="'url(assets/imgs/grid/grid1.jpg)'"></div>

      <div class="card">
        <img src="assets/imgs/share.png" class="share">
        <ion-label class="header_title">What is Lorem Ipsum?</ion-label>
        <ion-label class="light_lbl">By Mike, Editor at LinkedIn</ion-label>
        <ion-label class="desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </ion-label>

        <div class="flex_div">
          <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
          <div class="back_image second" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="back_image third" [style.backgroundImage]="'url(assets/imgs/user4.jpg)'"></div>
          <ion-label class="blue_lbl">See 4 featured conversations</ion-label>
        </div>
      </div>
    </div>
    
  </div>
</ion-content>
