<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Present Address Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   


    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">


      <ion-item>
        <ion-label position="floating">Address </ion-label>
        <ion-input  formControlName="present_address" [(ngModel)]="data.present_address" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_address.errors?.required">
        Address is required.
      </span>

      <ion-item>
        <ion-label color="medium">City </ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.present_city"  name="present_city" formControlName="present_city">
          <ion-select-option *ngFor="let item of cities" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end></ion-icon>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_city.errors?.required">
        City is required.
      </span>



      <ion-item>
        <ion-label position="floating">Pin </ion-label>
        <ion-input  formControlName="present_pin" [(ngModel)]="data.present_pin" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_pin.errors?.required">
        Pin is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_pin.errors?.pattern">
        Only numerical values allowed.
      </span>
      <ion-item>
        <ion-label color="medium"> State</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.present_state"  name="present_state" formControlName="present_state">
          <ion-select-option *ngFor="let item of states" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end ></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_state.errors?.required">
        State is required.
      </span>
      <ion-item>
        <ion-label color="medium">Country</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.present_country"  name="present_country" formControlName="present_country">
          <ion-select-option *ngFor="let item of country" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end ></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_country.errors?.required">
        State is required.
      </span>
      <ion-item>
        <ion-label position="floating">Telephone No.</ion-label>
        <ion-input type="text" formControlName="present_telephone" [(ngModel)]="data.present_telephone" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_telephone.errors?.required">
        Telephone No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_telephone.errors?.pattern">
        Only numerical values allowed.
      </span>
   
    

      <ion-item>
        <ion-label position="floating">Mobile No.</ion-label>
        <ion-input type="text" formControlName="present_mobile" [(ngModel)]="data.present_mobile" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_mobile.errors?.required">
        Mobile No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_mobile.errors?.pattern">
        Only numerical values allowed.
      </span>
   
      <ion-item>
        <ion-label position="floating">Email Id </ion-label>
        <ion-input type="email" formControlName="present_email" [(ngModel)]="data.present_email" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_email.errors?.required">
        Email Id is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.present_email.errors?.pattern">
        Enter Valid email id.
      </span>
     
      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>