<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Manage my Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="list_div" (click)="goToManageDetail('Connections')">
      <div class="first_div">
        <ion-label>Connections (112)</ion-label>
      </div>
      <div class="second_div">
        <div class="flex_div">
          <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
          <div class="back_image second" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="back_image third" [style.backgroundImage]="'url(assets/imgs/user4.jpg)'"></div>
        </div>
      </div>
    </div>

    <div class="list_div">
      <div class="first_div">
        <ion-label>+ Add teammates</ion-label>
      </div>
      <div class="second_div">
        <div class="flex_div">
          <!-- <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
          <div class="back_image second" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="back_image third" [style.backgroundImage]="'url(assets/imgs/user4.jpg)'"></div> -->
        </div>
      </div>
    </div>

    <div class="list_div" (click)="goToManageDetail('Following')">
      <div class="first_div">
        <ion-label>People I follow (7)</ion-label>
      </div>
      <div class="second_div">
        <div class="flex_div">
          <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
          <div class="back_image second" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="back_image third" [style.backgroundImage]="'url(assets/imgs/user4.jpg)'"></div>
        </div>
      </div>
    </div>

    <div class="list_div" (click)="goToManageDetail('Pages')">
      <div class="first_div">
        <ion-label>Pages (17)</ion-label>
      </div>
      <div class="second_div">
        <div class="flex_div">
          <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
          <div class="back_image second" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="back_image third" [style.backgroundImage]="'url(assets/imgs/user4.jpg)'"></div>
        </div>
      </div>
    </div>

    <div class="list_div" (click)="goToManageDetail('Hashtag')">
      <div class="first_div">
        <ion-label>Hashtag (3)</ion-label>
      </div>
      <div class="second_div">
        <div class="flex_div">
          <span>#</span>
        </div>
      </div>
    </div>

  </div>
</ion-content>
