ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.main_content_div{
    width: 100%;

    .list_div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;
        height: 60px;

        align-items: center;
        .second_div{
            .flex_div{
                display: flex;

                .back_image{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 4px solid white;
                }
                .second{
                    position: absolute;
                    z-index: 99;
                    margin-left: 20px;
                }
                .third{
                    // position: absolute;
                    z-index: 99999;
                    // margin-left: 20px;
                    // margin-left: 40px;
                }
                span{
                    background: #c0c0c0;
                    color: white;
                    padding: 3px 8px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}