<ion-header>
  <ion-toolbar>
    <div class="header_div">
      <ion-label class="header_lbl">Diselship Job</ion-label>
      <img class="logo_img" src="assets/imgs/linkedin.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="slider_div">

      <ion-slides pager="true" [options]="slideoptions">

        <ion-slide>
          <div class="inner_slider">
            <ion-label class="slider_lbl">A more personal way to find a jobs</ion-label>
            <img class="slider_img" src="assets/imgs/network.png">
          </div>
        </ion-slide>

        <ion-slide>
          <div class="inner_slider">
            <ion-label class="slider_lbl">Build a relationship to unlock opportunity</ion-label>
            <img class="slider_img" src="assets/imgs/network.png">
          </div>
        </ion-slide>

        <ion-slide>
          <div class="inner_slider">
            <ion-label class="slider_lbl">Share your professional profile</ion-label>
            <img class="slider_img" src="assets/imgs/network.png">
          </div>
        </ion-slide>

        <ion-slide>
          <div class="inner_slider">
            <ion-label class="slider_lbl">Stay informed on topic , industries and people <br> you care about</ion-label>
            <img class="slider_img" src="assets/imgs/network.png">
          </div>
        </ion-slide>

      </ion-slides>

    </div>


    <div class="btn_div">
      <ion-button class="join_btn" expand="full" (click)="goToRegister()">
        <img class="btn_search" src="assets/imgs/google.png">JOIN WITH GOOGLE
      </ion-button>
      <ion-button class="join_now" expand="full" (click)="goToRegister()">
        JOIN NOW
      </ion-button>
    </div>
  </div>
</ion-content>