ion-toolbar{
    --background : #283E4A
}
.header_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .header_lbl{
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
    .logo_img{
        width: 20px;
        height: 20px;
    }
}

.main_content_div{
    width: 100%;
    height: 100vh;;
    background-color: rgba(87, 129, 150, 0.8);

    .slider_div{
        ion-slide{
            height: 60vh;

            .inner_slider{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .slider_lbl{
                    margin-top: 50px;
                    color: white;
                    display: block;
                    font-size: 16px;
                }
                .slider_img{
                    margin-top: 50px;
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }
    .btn_div{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        .join_btn{
            --background : white;
            --color: #0077B5;
            --border-radius: 10px;
        }
        .join_now{
            margin-top: 10px;
            color: white;
            border: 2px solid white;
            --background : transparent;
        }
        .btn_search{
            height: 25px;
            width: 25px;
            margin-right: 20px;
        }
    }
}

ion-slides{
    --bullet-background : white;
    --bullet-background-active: white;
}
