<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Permenant Address Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   


    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">


      <ion-item>
        <ion-label position="floating">Address </ion-label>
        <ion-input  formControlName="permenant_address" [(ngModel)]="data.permenant_address" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_address.errors?.required">
        Address is required.
      </span>

      <ion-item>
        <ion-label color="medium">City </ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.permenant_city"  name="permenant_city" formControlName="permenant_city">
          <ion-select-option *ngFor="let item of cities" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end></ion-icon>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_city.errors?.required">
        City is required.
      </span>



      <ion-item>
        <ion-label position="floating">Pin </ion-label>
        <ion-input  formControlName="permenant_pin" [(ngModel)]="data.permenant_pin" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_pin.errors?.required">
        Pin is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_pin.errors?.pattern">
        Only numerical values allowed.
      </span>
      <ion-item>
        <ion-label color="medium"> State</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.permenant_state"  name="permenant_state" formControlName="permenant_state">
          <ion-select-option *ngFor="let item of states" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end ></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_state.errors?.required">
        State is required.
      </span>
      <ion-item>
        <ion-label color="medium">Country</ion-label>
        <ion-select class="ion-text-end" [(ngModel)]="data.permenant_country"  name="permenant_country" formControlName="permenant_country">
          <ion-select-option *ngFor="let item of country" value="{{item.value}}" required>
            {{ item.value }}
          </ion-select-option>
        </ion-select>
        <ion-icon name="chevron-forward-outline" color="primary" item-end ></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_country.errors?.required">
        State is required.
      </span>
      <ion-item>
        <ion-label position="floating">Telephone No.</ion-label>
        <ion-input type="text" formControlName="permenant_telephone" [(ngModel)]="data.permenant_telephone" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_telephone.errors?.required">
        Telephone No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.permenant_telephone.errors?.pattern">
        Only numerical values allowed.
      </span>
   
    

     
      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>