ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.div_header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background: var(--ion-color-main);
    align-items: center;

    ion-segment-button{
        --color-checked: white;
        color: white;
    }
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    .chip_div{
        padding: 10px 16px;

        ion-chip{
            font-weight: 600;
            color: #505050;
            background: #E1E9EE;
        }

        .active_chip{
          color: white;
          background: var(--ion-color-main);
        }
    }

    .flex_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        background: white;


        .f_div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 16px;

            .detail{
                margin-left: 10px;
                .desc{
                    color:gray;
                }
            }
            .back_image{
                height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .s_div{
            display: flex;
            align-items: center;
            padding-right: 16px;
            ion-icon{
                font-size: 40px;
            }

            .cross{
                color: gray;
            }
            .check{
                color: var(--ion-color-main);
            }
        }
    }
}