<ion-header>
  <div class="div_header">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button>
        <ion-label>RECEIVED</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>SENT</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-button fill="clear" size="small">
      <ion-icon name="settings-outline" color="light" style="font-size: 22px;"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <span *ngIf="segId == 'ion-sb-0'">
      <div class="chip_div">
        <ion-chip [class.active_chip]="chipId == 'all'" (click)="chipChange('all')">
          <ion-label>All (7)</ion-label>
        </ion-chip>
        <ion-chip [class.active_chip]="chipId == 'people'" (click)="chipChange('people')">
          <ion-label>People (7)</ion-label>
        </ion-chip>
      </div>

      <div class="flex_div" *ngFor="let item of users">
        <div class="f_div">
          <div class="back_image" [style.backgroundImage]="'url( ' + item.img + ' )'"></div>
          <div class="detail">
            <ion-label class="name">John Doe</ion-label>
            <ion-label class="desc">At Initapps Shop</ion-label>
          </div>
        </div>
        <div class="s_div">
          <ion-icon slot="icon-only" name="close-circle-outline" class="cross"></ion-icon>
          <ion-icon slot="icon-only" name="checkmark-circle-outline" class="check"></ion-icon>
        </div>      
      </div>

    </span>

    <span *ngIf="segId == 'ion-sb-1'">
      <div class="chip_div">
        <ion-chip [class.active_chip]="chipId2 == 'People'" (click)="chipChange1('People')">
          <ion-label>People (3)</ion-label>
        </ion-chip>
        <ion-chip [class.active_chip]="chipId2 == 'Pages'" (click)="chipChange1('Pages')">
          <ion-label>Pages (10)</ion-label>
        </ion-chip>
        <ion-chip [class.active_chip]="chipId2 == 'Events'" (click)="chipChange1('Events')">
          <ion-label>Events (2)</ion-label>
        </ion-chip>
      </div>

      <div class="flex_div" *ngFor="let item of users">
        <div class="f_div">
          <div class="back_image" [style.backgroundImage]="'url( ' + item.img + ' )'"></div>
          <div class="detail">
            <ion-label class="name">John Doe</ion-label>
            <ion-label class="desc">At Initapps Shop</ion-label>
          </div>
        </div>
        <div class="s_div">
          <ion-icon slot="icon-only" name="close-circle-outline" class="cross"></ion-icon>
          <ion-icon slot="icon-only" name="checkmark-circle-outline" class="check"></ion-icon>
        </div>      
      </div>

    </span>

    
    
  </div>
</ion-content>
