<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Port Sea Training Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">

        

        
      

        <ion-item>
          <ion-label position="floating">Grade </ion-label>
          <ion-input  formControlName="post_sea_grade1" [(ngModel)]="data.post_sea_grade1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.post_sea_grade1.errors?.required">
          Grade is required.
        </span>
        <ion-item>
          <ion-label position="floating">Part/Phase</ion-label>
          <ion-input type="text" formControlName="port_sea_part_phase1" [(ngModel)]="data.port_sea_part_phase1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_part_phase1.errors?.required">
          Part/Phase is required.
        </span>




        <ion-item>
          <ion-label position="floating">Course Name</ion-label>
          <ion-input  formControlName="port_sea_course_name1" [(ngModel)]="data.port_sea_course_name1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_course_name1.errors?.required">
          Course Name is required.
        </span>
        <ion-item>
          <ion-label position="floating">Training Institute</ion-label>
          <ion-input type="text" formControlName="port_sea_training_institute1" [(ngModel)]="data.port_sea_training_institute1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_training_institute1.errors?.required">
          Training Institute is required.
        </span>
    


        
      <ion-item>
        <ion-label position="floating">Certificate No </ion-label>
        <ion-input  formControlName="port_sea_certificate_no1" [(ngModel)]="data.port_sea_certificate_no1" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_certificate_no1.errors?.required">
        Certificate No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_certificate_no1.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">Attended From (Date)</ion-label>
        <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.port_sea_attended_from1"  class="ip" formControlName="port_sea_attended_from1" [value]="defaultDate" required></ion-datetime>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_attended_from1.errors?.required">
        Attended From (Date) is required.
      </span>

      <ion-item>
        <ion-label position="floating">Attended To (Date) </ion-label>
        <ion-datetime (ionChange)="getDate4($event)"  [(ngModel)]="data.port_sea_attended_to_date1"  class="ip" formControlName="port_sea_attended_to_date1" [value]="defaultDate" required></ion-datetime>
      
       
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.port_sea_attended_to_date1.errors?.required">
        Attended To (Date) is required.
      </span>

     

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>