<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Education Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">


        <ion-item>
          <ion-label position="floating">Main Subjects</ion-label>
          <ion-input  formControlName="main_subjects" [(ngModel)]="data.main_subjects" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.main_subjects.errors?.required">
          Main Subjects is required.
        </span>

      <ion-item>
        <ion-label position="floating">Certificate No </ion-label>
        <ion-input  formControlName="certificate_no" [(ngModel)]="data.certificate_no" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.certificate_no.errors?.required">
        Certificate No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.certificate_no.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">PCM Mark(%) </ion-label>
        <ion-input  formControlName="pcm_mark" [(ngModel)]="data.pcm_mark" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pcm_mark.errors?.required">
        PCM Mark(%) is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pcm_mark.errors?.pattern">
        Only numerical values allowed.
      </span>


      <ion-item>
        <ion-label position="floating">Result(%)/Grade</ion-label>
        <ion-input type="text" formControlName="result_grade" [(ngModel)]="data.result_grade" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.result_grade.errors?.required">
        Result(%)/Grade is required.
      </span>


      <ion-item>
        <ion-label position="floating">Name of University</ion-label>
        <ion-input  formControlName="name_of_university" [(ngModel)]="data.name_of_university" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name_of_university.errors?.required">
        Name of University is required.
      </span>

      <ion-item>
        <ion-label position="floating">Name of Institution </ion-label>
        <ion-input type="text" formControlName="name_of_institution" [(ngModel)]="data.name_of_institution" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name_of_institution.errors?.required">
        Name of Institution is required.
      </span>
      <ion-item>
        <ion-label position="floating">Institute Address </ion-label>
        <ion-input type="text" formControlName="institute_address" [(ngModel)]="data.institute_address" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.institute_address.errors?.required">
        Institute Address is required.
      </span>

      <ion-item>
        <ion-label position="floating">Year of Passing </ion-label>
        <ion-input  formControlName="year_of_passing" [(ngModel)]="data.year_of_passing" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.year_of_passing.errors?.required">
        Year of Passing is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.year_of_passing.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">English Mark(%) : </ion-label>
        <ion-input  formControlName="english_mark" [(ngModel)]="data.english_mark" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.english_mark.errors?.required">
        English Mark(%) : is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.english_mark.errors?.pattern">
        Only numerical values allowed.
      </span>
     

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>