<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode='md' color="light"></ion-back-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Jonh Doe">
      <ion-icon slot="start" name="search"></ion-icon>
    </ion-input>
    <!-- <ion-searchbar></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="cover" [style.backgroundImage]="'url(assets/imgs/back1.jpg)'">
      <div class="user_image" [style.backgroundImage]="'url(assets/imgs/user.jpg)'"></div>
    </div>

    <div class="personal_info">
      <ion-label class="username">John Doe <span style="color: #505050;">•</span><span style="color: #505050;font-size: 14px;"> 1 st</span></ion-label>
      <ion-label>Software Engineer</ion-label>
      <ion-label>Upwork • <span style="font-size: 14px;">GOVERNMENT ENGINEERING COLLEGE, BHAVNAGAR</span></ion-label>
      <ion-label>Bhavnagar, Gujrat India • <span style="color: var(--ion-color-main); font-weight: 600"> 20 Connections</span></ion-label>

      <ion-button size="small" class="msg_btn" >
        MESSAGE
      </ion-button>

      <ion-button size="small" class="more_btn"  fill="outline">
        MORE...
      </ion-button>
    </div>

    <div class="highlight_div">
      <ion-label>Highlights</ion-label>

      <div class="flex_div">
        <div class="multi_images">
          <div class="user_image2" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
          <div class="user_image3" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
        </div>
        <div class="content_div">
          <ion-label class="head_lbl">3 mutual connections</ion-label>
          <ion-label class="light_lbl">You and Jonh Both know Mike and 2 others</ion-label>
        </div>
      </div>

      <div class="flex_div">
        <div class="multi_images">
          <div class="user_image" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>
        </div>
        <div class="content_div" style="border: none;padding-bottom: 0px;">
          <ion-label class="head_lbl">You both worked at Initappz Shop</ion-label>
          <ion-label class="light_lbl">You both worked at Initappz from February 2019 to March 2020</ion-label>
          <ion-button size="small"   fill="outline">
            SAY HELLO
          </ion-button>
        </div>
      </div>
    </div>
    <div class="about_div">
      <ion-label>About</ion-label>
      <ion-label class="about_detail">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
      </ion-label>
      <ion-label class="see_more_lbl">See more</ion-label>
    </div>

    <div class="highlight_div">
      <ion-label>Experience</ion-label>

      <div class="flex_div" *ngFor="let item of (company | slice : 0: 3);let i = index">
        <div class="multi_images">
          <div class="user_image" [style.backgroundImage]="'url('+item.img+')'"></div>
        </div>
        <div class="content_div" [class.no_border]="i == 2">
          <ion-label class="head_lbl">Software Engineer</ion-label>
          <ion-label class="simple_lbl">{{item.name}} • Full-time</ion-label>
          <ion-label class="light_lbl" style="font-size: 14px;">Feb 2020 - Present • 2 mos</ion-label>
        </div>
      </div>
    </div>

    <div class="highlight_div">
      <ion-label>Education</ion-label>

      <div class="flex_div" *ngFor="let item of [1,2,3];let i = index">
        <div class="multi_images">
          <div class="user_image" [style.backgroundImage]="'url(assets/imgs/university.png)'"></div>
        </div>
        <div class="content_div" [class.no_border]="i == 2">
          <ion-label class="head_lbl" style="font-size: 13px;">GOVERNMENT ENGINEERING COLLEGE, BHAVNAGAR</ion-label>
          <ion-label class="simple_lbl">Bachelor's degree, Information Technology</ion-label>
          <ion-label class="light_lbl" style="font-size: 14px;">2015 - 2018</ion-label>
        </div>
      </div>
    </div>
    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SHOW MORE</ion-label>
    </div>

    <div class="skill_div">
      <ion-label>Skills & Endorsements</ion-label>

      <div *ngFor="let item of (users | slice : 0: 3); let i = index" class="main_div" [class.no_border]="i == 2">
        <div class="inner_div">
          <ion-icon name="add-circle-outline"></ion-icon> <ion-label class="head_lbl">BootStrap</ion-label> 
        </div>
        <div class="inner_div" style="padding-left: 25px;">
          <div class="user_image" [style.backgroundImage]="'url('+item.img+')'"></div> <ion-label class="small_lbl">Endorsed by Mike (mutual Connection)</ion-label> 
        </div>
      </div>
    </div>
    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE 5 MORE SKILLS</ion-label>
    </div>

    <div class="skill_div">
      <ion-label>Accomplishments</ion-label>

        <div class="inner_div" style="padding-top: 10px;">
          <ion-label class="blue_lbl">3</ion-label> <ion-label class="blue_lbl" style="margin-left: 20px;">LANGUAGES</ion-label> 
        </div>  
         <ion-label class="small_lbl" style="padding-left: 30px;">English</ion-label> 
    </div>

    <div class="highlight_div">
      <ion-label>Contact</ion-label>

      <div class="flex_div">
        <div class="multi_images">
          <img src="assets/imgs/linkedin.png" class="image">
        </div>
        <div class="content_div">
          <ion-label class="head_lbl">Jonh's Profile</ion-label>
          <ion-label class="blue_lbl">https://www.linkedin.com/test</ion-label>
        </div>
      </div>

      <div class="flex_div">
        <div class="multi_images">
          <img src="assets/imgs/email_2.png" class="image">
        </div>
        <div class="content_div" style="border-bottom: none;">
          <ion-label class="head_lbl">Email</ion-label>
          <ion-label class="blue_lbl">jonh@gmail.com</ion-label>
        </div>
      </div>

    </div>

    <div class="highlight_div">
      <ion-label>Interests</ion-label>

      <div class="flex_div" style="border-bottom: 1px solid lightgray;padding-top: 10px;padding-bottom: 10px;">
        <img src="{{item.img}}" *ngFor="let item of company" class="interest">
      </div>
    
      <ion-label style="padding-top: 10px;">Causes Jonh cares about</ion-label>
      <div class="flex_div" style="padding-top: 10px;">
        <img src="assets/imgs/heart_2.png" class="image">
        <ion-label style="margin-left: 15px;">Health, Social Service</ion-label>
      </div>

    </div>
    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE ALL</ion-label>
    </div>

    <div class="people_div">
      <ion-label style="padding-bottom: 10px;">People also viewed</ion-label>

      <div class="flex_div" *ngFor="let item of (users | slice : 0: 3);let i = index">
        <div class="user_image" [style.backgroundImage]="'url('+item.img+')'"></div>
        <div class="content_div" [class.no_border]="i == 2">
          <ion-label class="head_lbl">Jonh Doe • <span style="font-weight: normal">3rd</span></ion-label>
          <ion-label class="simple_lbl">Student at GEC-BHAVNAGAR</ion-label>
        </div>
      </div>
    </div>


  </div>
</ion-content>
