ion-toolbar{
    --background : var(--ion-color-main);
    ion-input{
        border-bottom: 1px solid white;
        --color: white;
        --placeholder-color : white;
        --padding-start : 8px;
    }
    ion-icon{
        color: white;
        font-size: 24px;
    }
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
ion-content{
    --background: #F5F5F5;
}

.main_content_div{
    width: 100%;

    .no_border{
        border-bottom: none !important;
    }

    ion-label {
        display: block;
    }

    .cover{
        width: 100%;
        height: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .user_image{
            width: 100px;
            height: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: 4px solid white;
            position: absolute;
            left: 16px;
            top: 50%;
        }
    }
    .personal_info{
        padding: 16px;
        padding-top: 55px;
        background : white;

        ion-label {
            margin-bottom: 7px;
        }

        .username{
            font-size: 20px;
        }

        .msg_btn{
            --background: var(--ion-color-main);
            font-weight: 600;
            --border-radius: 3px;
            font-size: 18px;
        }
        .more_btn{
            color: gray;
            --border-color: gray;
            font-weight: 600;
            --border-radius: 3px;
            --border-width: 2px;
            margin-left: 10px;
            font-size: 18px;
        }
    }

    .highlight_div{
        margin-top: 10px;
        padding: 16px;
        background: white;
        border-bottom: 1px solid lightgray;

        .image{
            width: 20px;
        }
        .flex_div{
            display: flex;
            align-items: flex-start;

            .interest{
                width: 50px;
                margin-right: 15px;
            }

            .multi_images{
                height: 45px;
                width: 45px;
                position: relative;
                padding-top : 10px;

                

                .user_image2{
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user_image3{
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 5px;
                }

                .user_image{
                    height: 45px;
                    width: 45px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 3px;
                }
            }

            .content_div{
                padding-left: 10px;
                border-bottom: 1px solid lightgray;
                padding: 10px;
                width: 100%;

                .head_lbl{
                    font-weight: 600;
                }
                .light_lbl{
                    color: gray;
                }
                .simple_lbl{
                    font-size: 14px;
                    color: #505050;
                }
                .blue_lbl{
                    color: var(--ion-color-main);
                    font-size: 14px;
                }

                ion-button{
                    color: var(--ion-color-main);
                    --border-color: var(--ion-color-main);
                    font-weight: 600;
                    --border-radius: 3px;
                    --border-width: 2px;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
    }

    .about_div{
        margin-top: 10px;
        background: white;
        padding: 16px;

        .about_detail{
            font-size: 14px;
            margin-top: 5px;
            color: #505050;
        }
        .see_more_lbl{
            text-align: right;
            color: gray;
            font-size: 14px;
        }
    }

    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;

        .blue_lbl{
            color: var(--ion-color-main);
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }
    }

    .skill_div{
        margin-top: 10px;
        padding: 16px;
        background: white;
        border-bottom: 1px solid lightgray;

        .main_div{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }
        
        .inner_div{
            display: flex;
            align-items: center;    
            ion-icon{
                font-size: 30px;
                color: var(--ion-color-main);
            }
            .head_lbl{
                font-weight: 600;
                padding-left: 10px;
            }

            .user_image{
                width: 25px;
                height: 25px;
                min-width: 25px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }

            .blue_lbl{
                color: var(--ion-color-main);
                font-weight: 600;
            }
            
        }

        .small_lbl{
            font-size: 14px;
            padding-left: 10px;
        }
    }

    .people_div{
        padding: 16px;
        
        .flex_div{
            display: flex;
            width: 100%;
            align-items: center;

            .user_image{
                height: 45px;
                width: 45px;
                min-width: 45px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
        }
        .content_div{
            padding-left: 10px;
            border-bottom: 1px solid lightgray;
            padding: 10px;
            width: 100%;

            .head_lbl{
                font-weight: 600;
                color: #505050;
                font-size: 15px;
            }
            .simple_lbl{
                font-size: 14px;
                color: #505050;
            }
        }
    }
}