<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{post.forum_name}}</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main_content_div">
    <div class="content_div">
      <ion-label style="font-size: 18px;"  class="head_lbl">{{post.title}} </ion-label>
      <ion-label  [innerHTML]="post.description" class="desc_lbl">
       
      </ion-label>


      <!-- <div (click)="singlefeed(post.id)" *ngIf="post.media">
        <div *ngFor="let item of post.media">
                  <div class="card_image" [style.backgroundImage]="'url('+item+')'"></div>
        
                </div> </div> -->
               </div>
    <div class="desc_div">
  
      <div class="flex_div">
      
        <div class="content_div" style="display: flex;">
          <div>
          <img [routerLink]="['/members-detail', post.author]" src="{{post.author_image}}" class="image">
          </div>
          <div style="margin-left: 15px;">
          <ion-label  class="head_lbl">{{post.author_name}} </ion-label>
        
          <ion-label class="small_lbl" >{{post.date}}</ion-label>
        </div>
 
        </div>

        <div>
          {{post.voice_count}} Members  . {{post.total_reply_count}} Replies
        </div>
      </div>
    </div>

  
          <ion-button (click)="commentfocus()" fill="clear" size="small">
            <ion-icon name="arrow-undo-outline"></ion-icon>&nbsp;&nbsp;Reply
          </ion-button>
      
       
      <!-- <div class="reaction_div">
        <ion-label>Reaction</ion-label>

        <div class="users_div">
          <div class="user_img" *ngFor="let item of (users | slice: 0:5)" [style.backgroundImage]="'url('+item.img+')'">
          </div>
          <div class="round">
            <ion-icon name="ellipsis-horizontal" class="dots"></ion-icon>
          </div>
        </div>
      </div> -->

      <div class="comments_div">
        <div class="lbls">
          <ion-label>Replies</ion-label>
          <!-- <ion-label class="relevent">Most Relevant</ion-label> -->
        </div>
        <div #processContainer>
        </div>
        <div *ngFor="let item of data">
        <div class="flex_div" >
          <div class="user_img" [style.backgroundImage]="'url('+item.author_image+')'"></div>
          <div id="id{{item.id}}" class="blue_div" >
            <ion-label class="replytxt" *ngIf="item.replycomment_text" (click)="hightlight(item.reply_to)">Reply Comment For <p>{{item.replycomment_text}}</p></ion-label>
            <ion-icon (click)="deletepost(item.id)"  *ngIf="item.can_delete"  class="abs_icn2" name="trash"></ion-icon>
            <ion-icon (click)="commentreply(item.id,item.content,item.author_image)" name="arrow-undo-outline" class="abs_icn"></ion-icon>

            <ion-label class="head_lbl">{{item.author_name}}</ion-label>
           
            <ion-label  class="small_lbl">{{item.date}}</ion-label>

            <ion-label [innerHTML]="item.content"  class="text">
                 </ion-label>
          </div>
        

         </div> 
         <!-- <div style="padding-left: 40px;" *ngIf="item.reply"> 


          <div class="flex_div" *ngFor="let itemreply of item.reply">
            <div class="user_img" [style.backgroundImage]="'url('+itemreply.user_avatar+')'"></div>
           
            <div  id="id{{itemreply.id}}" class="blue_div" style="
            background: #aed8f3;
        ">
              <ion-icon (click)="deletepost(itemreply.id)" class="abs_icn2" name="trash"></ion-icon>
              <ion-icon (click)="commentreply(itemreply.id,itemreply.content,itemreply.author_image)" name="arrow-undo-outline" class="abs_icn"></ion-icon>
              <ion-label class="replytxt" (click)="hightlight(itemreply.reply_to)">Reply Comment For <p>{{itemreply.replycomment_text}}</p></ion-label>
              <ion-label style="padding-top: 5px;" class="head_lbl">{{itemreply.author_name}}</ion-label>
             
              <ion-label  class="small_lbl">{{itemreply.date}}</ion-label>
  
              <ion-label  [innerHTML]="itemreply.content"  class="text">
                   </ion-label>
            </div>
           </div>
           <div style="padding-left: 80px;" *ngIf="itemreply.reply"> 


            <div class="flex_div" *ngFor="let itemreply2 of itemreply.reply">
              <div class="user_img" [style.backgroundImage]="'url('+itemreply2.user_avatar+')'"></div>
             
              <div  id="id{{itemreply2.id}}" class="blue_div" style="
              background: #aed8f3;
          ">
                <ion-icon (click)="deletepost(itemreply2.id)" class="abs_icn2" name="trash"></ion-icon>
                 <ion-icon (click)="commentreply(itemreply2.id,itemreply2.content,itemreply2.author_image)" name="arrow-undo-outline" class="abs_icn"></ion-icon> 
                <ion-label class="replytxt" (click)="hightlight(itemreply2.reply_to)">Reply Comment For <p>{{itemreply2.replycomment_text}}</p></ion-label>
                <ion-label style="padding-top: 5px;" class="head_lbl">{{itemreply2.author_name}}</ion-label>
               
                <ion-label  class="small_lbl">{{itemreply2.date}}</ion-label>
    
                <ion-label  [innerHTML]="itemreply2.content"  class="text">
                     </ion-label>
              </div>
             </div>
  
             
            </div>

          </div> -->
        
        
        </div>
        </div>
        </div>

     
    
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
    <ion-col size="4" style="margin-top: 15px;" *ngFor="let item of file_imgs">
      <ion-icon  (click)="dltmedia(item.id)" style="position: relative; bottom: 75px; left: 85px;" name="close-circle-outline"></ion-icon>
      <img style="height: 80px;
      width: 80px; border-radius: 10px;" src="{{item.img}}" >
    </ion-col>
  </ion-row>
  </ion-grid>
  <input
  type="file"
  #fileInput
  (change)="uploadFile($event)"
  hidden="true"
  accept="image/*"
/>
  <!-- <div style="position: relative;">
     <ion-button  (click)="addImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button> -->
  <!--  <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
    </ion-button> -->
    <!-- <ion-button (click)="selectImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="image-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!plt.is('hybrid')" (click)="attach()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button> -->
    <!-- <ion-button size="small" fill="clear" class="at_btn">
      <ion-icon slot="icon-only" name="at-outline"></ion-icon>
    </ion-button> -->
  <!-- </div> -->
  <div class="footer_div">
    <ion-label class="reply" *ngIf="commentid !='' ">Reply To</ion-label> 
      <div class="flex_div" *ngIf="commentid!=''">
        <div class="user_img" [style.backgroundImage]="'url('+commentavatar+')'"></div>
      <div class="blue_div">
        <ion-label *ngIf="commenttext!=''"
         #commenttextid [innerHTML]="commenttext"  class="text"></ion-label>
          <ion-input #commentidid type="hidden" *ngIf="commentid!=''" [(ngModel)]="commentid" placeholder="Leave your thoughts"></ion-input>
        
 </div>

</div>  <div class="flex_foot" > <div class="first_div">
      <div class="user_img" [style.backgroundImage]="'url('+mydata+')'"></div>
      <ion-input #commentfoc type="text" [(ngModel)]="comment" placeholder="Leave your thoughts"></ion-input>
    </div>
    <div class="second_div">
      <!-- <ion-label class="at">@</ion-label> -->
      <ion-button (click)="postcomment()" fill="clear">
        <ion-spinner *ngIf="loading"></ion-spinner> Post
      </ion-button>
    </div>
  </div>
  </div>
</ion-footer>