ion-toolbar{
    --background : #283E4A;
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    // background: #283E4A; 
    .logo_div{
        display: flex;
        .header_lbl{
            color: white;
            font-weight: bold;
            font-size: 25px;
            margin-left: 10px;
        }
        .logo_img{
            margin-left: 1px;
            width: 30px;
            height: 30px;
        }
    }
}

.main_content_div{
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
        margin-top: 20px;
    }
    .head_lbl{
        font-size: 25px;
    }

    ion-input{
        border: 1px solid lightgray;
        margin-top: 7px;
        border-radius: 5px;
        --padding-start: 8px;
    }

    ion-button{
        margin-top: 20px;
        --border-radius: 5px;
    }
}