<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header_div">
      <div class="logo_div">
      <ion-label class="header_lbl">Diselship Job</ion-label>
      <img class="logo_img" src="assets/imgs/linkedin.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="head_lbl">First, let's find your acccount</ion-label>
    <ion-label>Please enter your email or phone</ion-label>

    <ion-label>Email or phone *</ion-label>

    <ion-input type="text" placeholder="Email or phone"></ion-input>

    <ion-button expand="block">
      find Account
    </ion-button>
  </div>
</ion-content>