<ion-header>
  <ion-toolbar>
    <ion-title color="light">Share Post</ion-title>
    <ion-button slot="end" expand="block" mode="md" color="light" style="    font-size: 23px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);" fill="clear" size="small" (click)="createpost()">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   
    <div class="flex_div">
      <div class="back_image" [style.backgroundImage]="'url('+mydata.avatar+')'"></div>
      <div class="content_div">
        <ion-label class="username">{{mydata.name}}</ion-label>
        <ion-select value="public"  [(ngModel)]="privacy" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="public">Anyone</ion-select-option>
          <ion-select-option value="friends">Friends</ion-select-option>
          <ion-select-option value="onlyme">Onlyme</ion-select-option>
        </ion-select>
      </div>
    </div>
<ion-grid>
  <ion-row>
  <ion-col size="4" style="margin-top: 15px;" *ngFor="let item of file_imgs">
    <ion-icon  (click)="dltmedia(item.id)" style="position: relative; bottom: 75px; left: 85px;" name="close-circle-outline"></ion-icon>
    <img style="max-width: 80px; border-radius: 10px;" src="{{item.img}}" >
  </ion-col>
</ion-row>
</ion-grid>
    <div class="textarea_div">
      <ion-textarea autoGrow="true"  [(ngModel)]="content" placeholder="What do you want to talk about? "></ion-textarea>
    </div>

  </div>
</ion-content>
<ion-footer>
  <!-- <div class="hashtag_div">
    <ion-label class="blue_lbl"># Add Hashtag</ion-label>
    <ion-label class="gray_lbl">Help thi right people see your post</ion-label>
  </div> -->
  <input
  type="file"
  #fileInput
  (change)="uploadFile($event)"
  hidden="true"
  accept="image/*"
/>
  <div style="position: relative;">
     <!-- <ion-button  (click)="addImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button> -->
  <!--  <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
    </ion-button> -->
    <ion-button (click)="selectImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="image-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!plt.is('hybrid')" (click)="attach()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button>
    <!-- <ion-button size="small" fill="clear" class="at_btn">
      <ion-icon slot="icon-only" name="at-outline"></ion-icon>
    </ion-button> -->
  </div>
</ion-footer>