<ion-tabs (ionTabsDidChange)="tabChange($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-new">
      <img src="assets/tabs_imgs/home.png"  *ngIf="selectTab === 'home-new'" >
      <img src="assets/tabs_imgs/home_gray.png"  *ngIf="selectTab !=='home-new'" >
      <ion-label [class.active]="selectTab === 'home-new'">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="members-activity">
      <img src="assets/tabs_imgs/followers.png" *ngIf="selectTab === 'members-activity'" >
      <img src="assets/tabs_imgs/followers_gray.png" *ngIf="selectTab !== 'members-activity'" >
      <ion-label [class.active]="selectTab === 'members-activity'">Members Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share-post">
      <img src="assets/tabs_imgs/circle.png" *ngIf="selectTab === 'share-post'" >
      <img src="assets/tabs_imgs/circle_gray.png" *ngIf="selectTab !== 'share-post'" >
      <ion-label [class.active]="selectTab === 'share-post'">Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <img src="assets/tabs_imgs/bell.png" *ngIf="selectTab === 'notification'" >
      <img src="assets/tabs_imgs/bell_gray.png" *ngIf="selectTab !== 'notification'" >
      <ion-label [class.active]="selectTab === 'notification'">Nofification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      
      <img src="assets/tabs_imgs/bag.png" *ngIf="selectTab === 'jobs'" >
      <img src="assets/tabs_imgs/bag_gray.png" *ngIf="selectTab !== 'jobs'" >
      <ion-label [class.active]="selectTab === 'jobs'">Jobs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
