.div_header{
    display: flex;
    justify-content: space-between;
    background: var(--ion-color-main);
    align-items: center;
    padding-top: 40px;
    ion-button{
        font-size: 14px;
    }
}

.main_content_div{
    width: 100%;
    padding: 16px;

    ion-label {
        font-size: 14px;
        display: block;
    }
    .flex_div{
        display: flex;
        align-items: flex-end;

        .back_image{
            width: 60px;
            height: 60px;
            min-width: 60px;
            background: lightgray;
            border-radius: 3px;
            position: relative;
        }

        .white_div{
            background: white;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            position: absolute;
            right: -7px;
            bottom: -7px;
            z-index: 999;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);

            .blue_pen{
                width: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        ion-item{
            width: 100%;
        }
    }

    ion-item{
        width: 100%;
        padding: 0px;
        --padding-start: 0px;
    }

    span{
        color: var(--ion-color-main);
        font-weight: 600;
    }

    .bottom_lbl{
        font-size: 12px;
        margin-top: 5px;
    }

    .star_lbl{
        font-size: 14px;
        margin-top: 12px;
    }

    .div_lbl{
        font-size: 12px;
        background: lightgray;
        margin-top: 10px;
        padding: 8px;
        border-radius: 3px;
    }
}