<ion-header>
  <div class="div_header">
    <ion-button (click)="closeModal()" fill="clear">
      <ion-icon slot="icon-only" color="light" name="close"></ion-icon>
    </ion-button>
    <ion-title color="light">Create Event</ion-title>
    <ion-button (click)="createEvent()" expand="block" size="small" fill="clear" color="light">
      CREATE
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="flex_div">
      <div class="back_image">
        <div class="white_div">
          <img class="blue_pen" src="assets/imgs/blue_pen.png">
        </div>
      </div>

      <ion-item style="margin-left: 20px;">
        <ion-label position="floating">Event Name*</ion-label>
        <ion-input></ion-input>
      </ion-item>

    </div>

    <ion-item>
      <ion-label position="floating">Location*</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Venue Detail*</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Start Date and Time*</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY hh:mm A" min="2020" max="2050"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">End Date and Time*</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY hh:mm A" min="2020" max="2050"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description*</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ticketimg Website</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Event Privacy*</ion-label>
      <ion-select>
        <ion-select-option value="Public Event">Public Event</ion-select-option>
        <ion-select-option value="Private Event">Private Event</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label class="bottom_lbl">Event privacy can't be changed once the event is created <span>Learn More</span>
    </ion-label>

    <ion-label class="star_lbl">* Indicates required</ion-label>

    <ion-label class="div_lbl">You agree to LinkedIn's <span
        style="border-bottom: 2px solid var(--ion-color-main);">terms and conditions</span> for Events.</ion-label>

  </div>
</ion-content>