ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header_div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;

    .user_image{
        height: 25px;
        width: 25px;
    }
    ion-searchbar{
        --background: white;   
        --placeholder-color:  #707070; 
        --icon-color : #707070;
        border-radius: 0px;
        height: 30px;
    }
}
.flex_div{
   
    font-size: 12px;

    display: flex;
}
.filterbtn2{
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 4px;
    color: white;
    background: var(--ion-color-main);
}
.filterbtn{
    border: 2px solid var(--ion-color-main);
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 4px;
    background: aliceblue;
}
ion-content{
    --background: #F5F5F5;
}
.true{
    color: #047ead !important;}
.false{
        color: gray;}
.main_content_div{
    width: 100%;
    .up_lbl{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #e1e9ee;
    }
    .chips_div{
        display: flex;
        flex-direction: row;
        overflow: scroll;
        padding-left: 16px;
        padding-right: 16px;
        background: #e1e9ee;
        padding-top: 10px;
        padding-bottom: 20px;


        .chip{
            background-color: white;
            border-radius: 3px;
            padding: 5px 20px;
            margin-right: 10px;
            white-space: nowrap;
            color: var(--ion-color-main);
            font-size: 12px;
            font-weight: bold;
        }
    }

    .slider_div{
        background: #e1e9ee; 
        padding-top: 10px;

        ion-slides{
            height: 200px;
            margin-top: -35px;
        }

        .slide_div{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            border: 1px solid lightgray;
            // padding: 20px 15px;
            background: white;
            height: 125px;
            justify-content: center;

            .up_div{
                display: flex;
                flex-direction: row;
                padding: 15px;
            }

            .img_div{
                width: 40px;
                // padding: 15px;
                .slider_img{
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                }
            }
            .content_div{
                margin-left: 10px;
                // padding: 15px;

                .abs_lbl{
                    position: absolute;
                    left: 5px;
                    top: 0;
                    font-size: 12px;
                }
                .head_lbl{
                    display: block;
                    font-weight: 500;
                    text-align: left;
                    font-size: 14px;
                    margin-block-end: 5px;
                }
                .small_lbl{
                    color: #707070;
                    text-align: left;
                    display: block;
                    font-size: 14px;
                }
            }
            .lower_div{
                border-top: 1px solid lightgray;
                padding: 3px;
                display: flex;
                width: 100%;
                justify-content: space-around;

                ion-button{
                    color: var(--ion-color-main);
                    font-weight: 600;
                }
            }
        }
    }

    .div_card{
        width: 100%;
        background: white;
        margin-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid lightgray;


        .head_div{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            .img_div{
                // width: 12%;

                height: 40px;
                width: 40px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                min-width: 40px;
                .slider_img{
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                }
            }
            .content_div{
                width: 88%;
                margin-left: 10px;
                margin-top: -10px;
                position: relative;
                .head_lbl{
                    display: block;
                    font-weight: 500;
                    text-align: left;
                    font-size: 14px;
                    margin-block-end: 5px;
                }
                .small_lbl{
                    color: #707070;
                    text-align: left;
                    display: block;
                    font-size: 14px;
                }
                .card_arrow{
                    position: absolute;
                    right: 0;
                }
            }
        }
        .desc_div{
            .small_lbl{
                color: #707070;
                text-align: left;
                display: block;
                font-size: 14px;
            }
            .see_lbl{
                color: #707070;
                text-align: right;
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
        .card_image{
            height: 200px;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .like_div{
            padding-top: 10px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-evenly;
            border-bottom: 1px solid lightgray;
            img{
                width: 20px;
                margin-right: 5px;
            }

            ion-button {
                color: gray;
                font-size: 16px;
            }
        }
         .like_div2{
            padding-top: 10px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            img{
                width: 20px;
                margin-right: 5px;
            }

            ion-button {
                color: gray;
                font-size: 16px;
            }
        }
    }

    // .masonry { /* Masonry container */
    //     column-count: 4;
    //     column-gap: 1em;
    //   }
      
    //   .item { /* Masonry bricks or child elements */
    //     background-color: #eee;
    //     display: inline-block;
    //     margin: 0 0 1em;
    //     width: 100%;
    //   }

    .masonry { /* Masonry container */
        -webkit-column-count: 4;
        -moz-column-count:4;
        column-count: 2;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
        margin: 0px;
        padding: 0;
        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 3px;
        font-size: .85em;
    }
    .item {
        display: inline-block;
        background: #fff;
        padding: 0px;
        margin: 0px;
        width: 100%;
        // -webkit-transition:1s ease all;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .item img{max-width:100%;}
      
}


ion-slides{
    --bullet-background-active : black;
    --bullet-background : transparent;   
}

.swiper-pagination-bullet{
    border: 1px solid;
}
