<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <!-- <ion-buttons slot="start"> -->
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <!-- <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons> -->
      <ion-label style="color: white;">Activities</ion-label>
      <!-- <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar> -->
      <!-- <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

   
     
  

    <div class="flex_div" *ngFor="let item of activities">
      <div class="f_div">
        <div class="back_image" [ngStyle]= "{'background-image': 'url('+ item.media_url +')'}" ></div>
        <!-- <ion-grid><ion-row>
          <ion-col size="">

          </ion-col>
        </ion-row>
      </ion-grid> -->
        <div class="detail">
          <ion-label  style="font-size: 15px;" class="name">{{item.name}}</ion-label>
          <ion-label style="font-size: 14px;" class="desc">{{item.title}}</ion-label>
          <ion-label style="font-size: small; " class="desc" >{{item.content}}</ion-label>
          <ion-label style="font-size: small; color: black;" class="desc" >{{item.date}} ago</ion-label>
        </div>
        <!-- <div class="time">
          
         
        </div> -->
      </div>
    
    </div>
    



  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>