<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Sea Going Service </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">



        

        <ion-item>
          <ion-label position="floating">Ship Name</ion-label>
          <ion-input  formControlName="sea_ship_name1" [(ngModel)]="data.sea_ship_name1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_ship_name1.errors?.required">
          Ship Name is required.
        </span>


        <ion-item>
          <ion-label position="floating">Official No </ion-label>
          <ion-input  formControlName="sea_official_no1" [(ngModel)]="data.sea_official_no1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_official_no1.errors?.required">
          Official No is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_official_no1.errors?.pattern">
          Only numerical values allowed.
        </span>

        <ion-item>
          <ion-label position="floating">IMO Number</ion-label>
          <ion-input  formControlName="sea_imo_number1" [(ngModel)]="data.sea_imo_number1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_imo_number1.errors?.required">
          IMO Number is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_imo_number1.errors?.pattern">
          Only numerical values allowed.
        </span>
  
        <ion-item>
          <ion-label position="floating">GT</ion-label>
          <ion-input type="text" formControlName="sea_gt1" [(ngModel)]="data.sea_gt1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_gt1.errors?.required">
          GT is required.
        </span>

        <ion-item>
          <ion-label position="floating">Rank </ion-label>
          <ion-input type="text" formControlName="sea_rank1" [(ngModel)]="data.sea_rank1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_rank1.errors?.required">
          Rank is required.
        </span>

        <ion-item>
          <ion-label position="floating">Nature of watch keeping </ion-label>
          <ion-input type="text" formControlName="sea_nature_of_watch_keeping1" [(ngModel)]="data.sea_nature_of_watch_keeping1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_nature_of_watch_keeping1.errors?.required">
          Nature of watch keeping is required.
        </span>
        <ion-item>
          <ion-label position="floating">Service From (Date)</ion-label>
          <ion-datetime (ionChange)="getDate2($event)"  [(ngModel)]="data.sea_service_from_date1"  class="ip" formControlName="sea_service_from_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_service_from_date1.errors?.required">
          Service From (Date) is required.
        </span>
        <ion-item>
          <ion-label position="floating">Article of Months </ion-label>
          <ion-input type="text" formControlName="sea_article_of_months1" [(ngModel)]="data.sea_article_of_months1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_article_of_months1.errors?.required">
          Article of Months is required.
        </span>
        <ion-item>
          <ion-label position="floating">Propulsion power(KW) </ion-label>
          <ion-input type="text" formControlName="sea_propulsion_power1" [(ngModel)]="data.sea_propulsion_power1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_propulsion_power1.errors?.required">
          Propulsion power(KW) is required.
        </span>


        <ion-item>
          <ion-label position="floating">Propelling days </ion-label>
          <ion-input type="text" formControlName="sea_propelling_days1" [(ngModel)]="data.sea_propelling_days1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_propelling_days1.errors?.required">
          Propelling days is required.
        </span>


        <ion-item>
          <ion-label position="floating">Remarks </ion-label>
          <ion-input type="text" formControlName="sea_remarks1" [(ngModel)]="data.sea_remarks1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_remarks1.errors?.required">
          Remarks is required.
        </span>


        <ion-item>
          <ion-label position="floating">Flag  </ion-label>
          <ion-input type="text" formControlName="sea_flag1" [(ngModel)]="data.sea_flag1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_flag1.errors?.required">
          Flag is required.
        </span>


        <ion-item>
          <ion-label position="floating">Port of Registry  </ion-label>
          <ion-input type="text" formControlName="sea_port_of_registry1" [(ngModel)]="data.sea_port_of_registry1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_port_of_registry1.errors?.required">
          Port of Registry is required.
        </span>

        <ion-item>
          <ion-label position="floating">Ship Type  </ion-label>
          <ion-input type="text" formControlName="sea_ship_type1" [(ngModel)]="data.sea_ship_type1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_ship_type1.errors?.required">
          Ship Type is required.
        </span>
       

        <ion-item>
          <ion-label position="floating">Trade Area  </ion-label>
          <ion-input type="text" formControlName="sea_trade_area1" [(ngModel)]="data.sea_trade_area1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_trade_area1.errors?.required">
          Trade Area is required.
        </span>
       
        <ion-item>
          <ion-label position="floating">Service To (Date)</ion-label>
          <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.sea_service_to_date1"  class="ip" formControlName="sea_service_to_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_service_to_date1.errors?.required">
          Service To (Date) is required.
        </span>
       

        <ion-item>
          <ion-label position="floating">Article Days  </ion-label>
          <ion-input type="text" formControlName="sea_article_days1" [(ngModel)]="data.sea_article_days1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_article_days1.errors?.required">
          Article Days is required.
        </span>


        
        <ion-item>
          <ion-label position="floating">Propulsion Type  </ion-label>
          <ion-input type="text" formControlName="sea_propulsion_type1" [(ngModel)]="data.sea_propulsion_type1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sea_propulsion_type1.errors?.required">
          Propulsion Type is required.
        </span>

      


      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>