ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
ion-content{
    --background: #F5F5F5;
}
.flex_div2{
   
    font-size: 12px;
   
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: max-content;
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    ion-grid{
        background: white;

        ion-col{
            position: relative;
            height: 50px;
            img{
                width: 20px;
                display: block;
                margin: auto;
            }
            ion-label{
                color: gray;
                font-size: 14px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                width: 100%;
                text-align: center;
            }
            span{
                display: block;
                text-align: center;
                color: #505050;
                font-weight: 600;
            }
        }
    }

    .content_div{
        margin-top: 10px;
        background: white;
        padding: 15px;

        .flex_div{
            display: flex;
            width: 100%;
            padding-top: 10px;
            // padding-bottom: 10px;
            .image{
                width: 50px;
                min-width: 50px;
                height: 50px;
                border-radius: 3px;
            }

            .content{
                width: 100%;
                border-bottom: 1px solid lightgray;
                padding-top: 10px;
                padding-bottom: 10px;
                position: relative;

                .popover_div{
                    padding: 10px;
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
                    position: absolute;
                    right: 0;
                    top: 40px;
                    border-radius: 3px;
                    z-index: 999;
                    background: white;

                    .pop_flex_div{
                        display: flex;
                        padding-bottom: 10px;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                        ion-label {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    
                }

                ion-icon{
                    position: absolute;
                    right: 0;
                    top: 15px;
                    font-size: 20px;
                    color: #505050;
                }

                ion-label {
                    padding-bottom: 5px;
                }
                padding-left: 10px;
                .job_title{
                    font-weight: 600;
                    font-size: 16px;
                }
                .adress{
                    font-size: 14px;
                }

                .easy_div{
                    display: flex;
                    padding-bottom: 5px;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                    .easy{
                        font-size: 12px;
                        margin-left: 10px;
                        padding: 0;
                    }
                    .time{
                        margin-left: 10px;
                        padding: 0;
                    }
                }

                .status{
                    color: gray;
                    font-size: 14px;
                }
                
            }
        }
    }

    
}