<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <ion-buttons slot="start">
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
      (ionChange)="onSearchChange($event)" [(ngModel)]='searchtext' [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width: -webkit-fill-available;" *ngIf="!jobs.length>0" src="assets/imgs/no_result.jpg">
  <div *ngIf="jobs.length>0" class="main_content_div">
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="4" style="border-right: 1px solid lightgrey;">
          <img src="assets/imgs/edit.png" alt="">
          <ion-label>Post a job</ion-label>
        </ion-col>
        <ion-col size="4" style="border-right: 1px solid lightgrey;">
          <span>0</span>
          <ion-label>Saved Jobs</ion-label>
        </ion-col>
        <ion-col size="4">
          <img src="assets/imgs/pen.png" alt="">
          <ion-label>Career Interest</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  <div style="    overflow: scroll;">
      <ion-list class="flex_div2">
      
        <ion-item *ngFor="let entry of jobtypes">
          <ion-label>{{entry.name}}</ion-label>
          <ion-checkbox (ionChange)="onFillterChange($event)"  slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
        
      </ion-list>
    </div>
  
    <div class="content_div">
      <!-- <ion-label>Based on your profile</ion-label> -->

  


      <div  *ngFor="let item of jobs; let i = index" (click)="goToJobDetail()">
        <div class="flex_div" *ngIf="item.status=='publish'">

        
        <img [src]="item.media_url" class="image">
        <div class="content">

          <div class="popover_div" *ngIf="actionDiv == i">
            <div class="pop_flex_div">
              <img src="assets/imgs/bookmark.png" alt="">
              <ion-label>Save</ion-label>
            </div>
            <div class="pop_flex_div" style="padding-bottom: 0px;">
              <img src="assets/imgs/cancel.png" alt="">
              <ion-label>Not for me</ion-label>
            </div>
          </div>

          <ion-icon name="ellipsis-vertical" (click)="action(i)"></ion-icon>

          <ion-label class="job_title">{{item.title}}</ion-label>
          <ion-label class="adress">{{item.company_name}}</ion-label>

          <div class="easy_div">
            <img src="assets/imgs/location.png">
            <ion-label class="easy">{{item.location}}</ion-label>
          </div>

          <div class="easy_div">
            <img src="assets/imgs/clock.png">
            <ion-label class="time">{{item.date}} ago</ion-label>
          </div>
          <!-- <ion-label class="status">{{item.status}}</ion-label> -->
        </div>
      </div>
    </div>


      
    </div>
  </div>
</ion-content>