<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header_div">
      <div class="logo_div">
      <ion-label class="header_lbl">Diselship Job</ion-label>
      <img class="logo_img" src="assets/imgs/linkedin.png">
      </div>
      <div>
        <ion-button size="small" (click)="goToRegister()" fill="clear">
          Join Diselship Job
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="form_div">
      <form [formGroup]="userForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email or Username</ion-label>
        <ion-input type="email" formControlName="username" class="ip"></ion-input>
      </ion-item>
  
      <ion-item style="position: relative;">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" class="ip"></ion-input>
        <!-- <img src="assets/imgs/eye.png" class="eye_icn"> -->
      </ion-item>

      <ion-label class="forgot" (click)="openPwReset()">FORGOT PASSWORD ?</ion-label>
  
      <ion-button  class="join_now" type="submit"  expand="full">
         <ion-spinner *ngIf="loading"></ion-spinner> <ion-label >   CONTINUE</ion-label>
       
      </ion-button>
    </form>
    </div>
  </div>
</ion-content>
