.header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo_div{
        display: flex;
        .header_lbl{
            color: var(--ion-color-main);
            font-weight: bold;
            font-size: 18px;
            margin-left: 10px;
        }
        .logo_img{
            margin-left: 1px;
            width: 20px;
            height: 20px;
        }
    }
    ion-button{
        color: var(--ion-color-main);
        font-weight: 600;
        font-size: 14px;
    }
}

.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;

    .form_div{
        ion-item{
            border-bottom: none;
            --padding-start: 0px;
            
            .eye_icn{
                position: absolute;
                right: 10px;
                top: 50%;
                height: 20px;
                width: 20px;
            }
        }

        .join_now{
            margin-top: 20px;
            color: white;
            border: 1px solid white;
            --background : var(--ion-color-main);
            font-weight: bold;
        }
        .forgot{
            display: block;
            text-align: right;
            color: var(--ion-color-main);
            font-size: 14px;
            margin-top: 10px;
        }
    }
}