<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Physical Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   

    

    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">
      <ion-item>
        <ion-label position="floating">Height (in Cms) </ion-label>
        <ion-input  formControlName="physical_height" [(ngModel)]="data.physical_height" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_height.errors?.required">
        Height is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_height.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">Eye Color</ion-label>
        <ion-input  formControlName="physical_eye" [(ngModel)]="data.physical_eye" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_eye.errors?.required">
        Eye Color is required.
      </span>

      <ion-item>
        <ion-label position="floating">Identification Mark</ion-label>
        <ion-input type="text" formControlName="physical_idmark" [(ngModel)]="data.physical_idmark" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_idmark.errors?.required">
        Identification Mark is required.
      </span>

      <ion-item>
        <ion-label position="floating">Hair Color</ion-label>
        <ion-input  formControlName="physical_hair" [(ngModel)]="data.physical_hair" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_hair.errors?.required">
        Hair Color is required.
      </span>

      <ion-item>
        <ion-label position="floating">Complexion </ion-label>
        <ion-input type="text" formControlName="physical_complexion" [(ngModel)]="data.physical_complexion" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.physical_complexion.errors?.required">
        Complexion is required.
      </span>

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>