ion-toolbar{
    --background : var(--ion-color-main);
    ion-input{
        border-bottom: 1px solid white;
        --color: white;
        --placeholder-color : white;
        --padding-start : 8px;
    }
    ion-icon{
        color: white;
        font-size: 24px;
    }
}
.notification_div{
    padding: 15px 10px;
   
    position: relative;
    background: white;
    padding: 15px 10px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 1px 2px 6px -1px #848484;
    background: white;
    .time_div{
        position: absolute;
        right: 10px;
        top: 5px;
        color: gray;
    }
    .flex_div{
        display: flex;
        width: 100%;
        align-items: center;
        .back_image{
            height: 50px;
            width: 50px;
            min-width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header_lbl{
            font-weight: 600;
            margin-left: 10px;
            font-size: 14px;
            width: 100%;
        }
        .desc{
            margin-left: 10px;
            font-size: 14px;
            width: 100%;
        }
    }

    .btn_div{
        padding-left: 60px;
        margin-top: 5px;

        ion-button{
            font-weight: 600;
            --border-radius: 3px;
            --border-color: var(--ion-color-main);
            --color: var(--ion-color-main);
            font-size: 16px;
        }
    }
    
}
.save{
    --border-color: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
    color: var(--ion-color-main);
}
.apply{
    --background: var(--ion-color-main);
    font-weight: 600;
    font-size: 16px;
    --border-radius: 3px;
}
ion-content{
    --background: #F5F5F5;
}
.white_div{
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    // ion-button{
    //     --border-radius: 0px;
    //     ion-label {
    //         text-align: left;
    //         width: 100%;
    //         font-size: 16px;
    //         color: var(--ion-color-main);
    //     }   
    //     ion-icon{
    //         color: var(--ion-color-main);
    //     }
    // }

    
    ion-icon{
        color: var(--ion-color-main);
        position: absolute;
        right: 16px;
        font-size: 20px;
    }

    ion-button{
        color: var(--ion-color-main);
        font-size: 600;
    }
}
.main_content_div{
    width: 100%;
  
    .no_border{
        border-bottom: none !important;
    }

    ion-label {
        display: block;
    }

    .cover{
        box-shadow: 0px -2px 12px black;
        width: 100%;
        height: 250px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .user_image{
            width: 70px;
            height: 70px;
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            border-radius: 15px;
            position: absolute;
            left: 40%;
            top: 25%;
            background: white;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        }
        .data_div{
            padding: 16px;
            padding-top: 114px;
            padding-right: 10%;
    
            ion-label {
                margin-bottom: 2px;
            }
    
            .group_title{
                text-align: center;
                font-size: 20px;
                padding-top: 30px;
                color: white;
                text-shadow: 2px 2px 8px black;
                font-weight: bolder;
                
            }
            
            .group_type{
                font-size: 14px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
            }
            .description{
                font-size: 14px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
            }
            .admin{
                display: flex;
                padding-bottom: 5px;
                text-align: center;
                color: white;
                text-shadow: 2px 2px 8px black;
                img{
                    width: 15px;
                    height: 15px;
                    text-align: center;
                }
                .admin_name{
                    text-align: center;
                    margin-left: 10px;
                    padding: 0;
                    font-size: 14px;
                    color: gray;
                }
            }
        }
    
    }

       
    .personal_div{
        background: white;
        padding: 16px;

        ion-label {
            margin-bottom: 2px;
        }

        .job_title{
            font-size: 20px;
            padding-top: 30px;
        }
        .compamy_name{
            font-size: 14px;
        }
        .address{
            font-size: 14px;
        }
        .easy_div{
            display: flex;
            padding-bottom: 5px;
            img{
                width: 15px;
                height: 15px;
            }
            .easy{
                font-size: 12px;
                margin-left: 10px;
                padding: 0;
            }
            .time{
                margin-left: 10px;
                padding: 0;
                font-size: 14px;
                color: gray;
            }
        }
    }

    .job_div{
        background: white;
        padding: 16px;
        margin-top: 10px;


        .job_header{
            padding-bottom: 5px;
            font-size: 16px !important;
        }

        ion-label {
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        border-top: 1px solid lightgray;
        .blue_lbl{
            color: var(--ion-color-main);
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 600;
        }
        
    .left-icon{
        color: var(--ion-color-main);
        position: absolute;
        left: 16px;
        font-size: 26px;
    }
    .lable-icon{
          padding-left: 22px;
          padding-top: 5px;
          color: var(--ion-color-main);
          font-size: 17px;
          cursor: pointer;
    }
    .right-icon{
        color: var(--ion-color-main);
        position: absolute;
        right: 16px;
        font-size: 20px;
    }

    }

    .desc_div{
        margin-top: 10px;
        padding: 16px;
        background: white;
        position: relative;

        .light_lbl{
            font-size: 14px;
            color: gray;
        }

        ion-toggle{
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }

        .premium_btn{
            margin-top: 10px;
            --border-radius: 3px;
            height: 40px;
            --background: #78710c;
        }

        .flex_div{
            display: flex;
            align-items: center;
            padding-top: 10px;
            width: 100%;
            justify-content: space-between;
            .image{
                height: 45px;
                width: 45px;
                max-width: 45px;
                border-radius: 3px;
            }

            .content_div{
                margin-left: 10px;
                .head_lbl{
                    font-weight: 600;
                }
                .small_lbl{
                    font-size: 14px;
                }
            }

            .fallow_btn{
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        }
    }
}