<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="cover" [style.backgroundImage]="'url('+data.cover+')'">
     
      <div class="data_div">
        <ion-label class="group_title">{{data.title}}</ion-label>
      
        <ion-label class="description">
          {{data.shortdescription}}
          
          </ion-label>
          <ion-chip style="background-color: white; margin-left: 42%;">
            <ion-avatar>
              <img src="{{data.admin_image}}">
            </ion-avatar>
            <ion-label>{{data.admin_name}}</ion-label>
          </ion-chip>
        <!-- <div class="admin">
          <img src="assets/imgs/clock.png">
          <ion-label class="admin_name">John</ion-label>
        </div> -->
        </div>
    </div>

    <div class="personal_div">
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px; border-top: 0px"  >
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="chatbubbles-outline"></ion-icon>
         
          <p class="lable-icon"> Discussions </p>
         
        </ion-label>

        <ion-label class="admin_name">{{data.total_reply_count}} Discussions . Updated {{data.date}} ago</ion-label>
      </div>
      
      <div class="notification_div"    *ngFor="let item of topics" >
   
        <div class="flex_div" (click)="singlediscussion(item.id)" style="justify-content: flex-start;">
          <div class="back_image" [ngStyle]= "{'background-image': 'url('+ item.author_image +')'}" ></div>
          <div>
            <ion-label class="header_lbl">{{item.title}}
            </ion-label>
            <ion-label class="desc count">{{item.voice_count}} Members  . {{item.total_reply_count}} Replies</ion-label>
            <ion-label class="desc ">{{item.date}}
            </ion-label>
           
          </div>
        </div>
        <!-- <div class="btn_div" *ngIf="item.btn_text != ''">
          <ion-button fill="outline" size="small">
            {{item.btn_text}}
          </ion-button>
        </div> -->
      </div>

      <!-- <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->