<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">

  <ion-content>
    <ion-menu-toggle>
      <div>
        <div class="menu_flex">
          <div class="menu_image"  [style.backgroundImage]="'url(' + data.avatar + ')'" ></div>
          <div class="centent">
            <ion-icon name="close-outline"></ion-icon>
            <ion-label class="username">{{data.name}}</ion-label>
            <div class="btn_div">
              <a (click)="myprofile()">View Profile</a>
              <span  (click)="editprofile()">Settings</span>
            </div>
          </div>
        </div>
      </div>

      <div class="main_content">
       
        <div class="list_div">
          <ion-label  [routerLink]="['/news-feed']" class="blue_lbl">News Feed</ion-label>
        </div>
        <div class="list_div">
          <ion-label  [routerLink]="['/members-list']" class="blue_lbl">Members</ion-label>
        </div>
        <div class="list_div">
          <ion-label  [routerLink]="['/groups-list']" class="blue_lbl">Groups</ion-label>
        </div>
        <div class="list_div">
          <ion-label  [routerLink]="['/forums-list']" class="blue_lbl">Forums</ion-label>
        </div>
        <div class="list_div">
          <ion-label  [routerLink]="['/jobs']" class="blue_lbl">Jobs</ion-label>
        </div>

     
        <div class="list_div">
          
       
        <ion-button class="join_now" expand="full" (click)="logout()">
         Logout
        </ion-button>
      </div>
    </div>

      <!-- <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list> -->
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<!-- <ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-router-outlet id="main"></ion-router-outlet>


<ion-tabs   (ionTabsDidChange)="tabChange($event)">

  <ion-tab-bar *ngIf="showTabs1" slot="bottom">
    
    <ion-tab-button tab="members-activity">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/home.png" *ngIf="selectTab === 'members-activity'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/home_gray.png" *ngIf="selectTab !== 'members-activity'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'members-activity'">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news-feed">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/feed.png"  *ngIf="selectTab === 'news-feed'" >
      <img class="labl_bottom_img" src="assets/tabs_imgs/feed_gray.png"  *ngIf="selectTab !=='news-feed'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'news-feed'">News Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="members-list">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/followers.png" *ngIf="selectTab === 'members-list'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/followers_gray.png" *ngIf="selectTab !== 'members-list'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'members-list'">Members</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups-list">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/groups.png" *ngIf="selectTab === 'groups-list'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/groups_gray.png" *ngIf="selectTab !== 'groups-list'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'groups-list'">Groups</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="share-post">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/circle.png" *ngIf="selectTab === 'share-post'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/circle_gray.png" *ngIf="selectTab !== 'share-post'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'share-post'">Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <img class="labl_bottom_img"  src="assets/tabs_imgs/bell.png" *ngIf="selectTab === 'notification'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/bell_gray.png" *ngIf="selectTab !== 'notification'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'notification'">Nofification</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="jobs">
      
      <img class="labl_bottom_img"  src="assets/tabs_imgs/bag.png" *ngIf="selectTab === 'jobs'" >
      <img class="labl_bottom_img"  src="assets/tabs_imgs/bag_gray.png" *ngIf="selectTab !== 'jobs'" >
      <ion-label class="labl_bottom" [class.active]="selectTab === 'jobs'">Jobs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

