/*

  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  Created : 17-March-2020
  This App Template Source code is licensed as per the 
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.

*/
.active{
    color: #0077B5;
}

.labl_bottom_img{
    width: 25px;
    height: 25px;;
}
.labl_bottom{
    font-size: 12px;
}
ion-label {
    display: block;
}
.menu_flex{
    padding: 16px;
    padding-top: 40px;
    display: flex;
    background: #f5f5f5;
    .menu_image{
        width: 45px;
        height: 45px;
        min-width: 45px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .centent{
        margin-left: 10px;
        position: relative;
        width: 100%;

        ion-icon{
            position: absolute;
            font-size: 25px;
            right: 0;
            font-weight: bold;
            color: #505050;
        }
        ion-label {
            display: block;
        }
        .username{
            font-weight: 600;
            color: #505050;
        }

        .btn_div{
            margin-top: 5px;
            display: flex;
            width: 80%;
            justify-content: space-between;
            color: var(--ion-color-main);
            font-weight: 600;
        } 
    }
}
.main_content{

    .list_div{
        padding: 16px;
        border-top: 1px solid lightgray;

        .hashtag{
            font-weight: 600;
            padding: 10px;
            margin-left: 15px;
        }
        .gray_lbl{
            color: gray;
        }
        .blue_lbl{
            color: var(--ion-color-main);
        }
        .light_lbl{
            color: gray;
        }
    }
}