<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header_div">
      <div class="logo_div">
        <ion-label class="header_lbl">Diselship Job</ion-label>
        <img class="logo_img" src="assets/imgs/linkedin.png">
      </div>
      <div>
        <ion-button size="small" (click)="goToLogin()" fill="clear">
          SIGN IN
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="header_lbl">Join Diselship Job</ion-label>

    <div class="form_div">
      <form [formGroup]="userForm" (ngSubmit)="signUp()">
      <ion-item>
        <ion-label position="floating">Userame</ion-label>
        <ion-input  formControlName="field_3"  class="ip"></ion-input>
      </ion-item>

<!-- <ion-input type="hidden" formControlName="rest_route" class="ip"  [(ngModel)]=""></ion-input> -->
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="field_1" class="ip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="field_2" class="ip"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="signup_email" class="ip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password (6+ Character)</ion-label>
        <ion-input  type="password" formControlName="signup_password" class="ip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input  type="password" formControlName="cnpassword" class="ip"></ion-input>
      </ion-item>
      <ion-label class="bottom_lbl">
        You agree to Linkedin's <span>User Agreement, Privacy Policy</span>, and
        <span>Cookie Policy</span>.
        For phone number signups we will send a Verification code via SMS
      </ion-label>

      <ion-button class="join_now"  type="submit" expand="full">
        <ion-spinner *ngIf="loading"></ion-spinner> <ion-label >    AGREE & JOIN </ion-label>
      </ion-button>
      </form>
    </div>

    <!-- <div class="or_div">
      <img src="assets/imgs/line.png" class="line_img">
      <ion-label class="or_text">OR</ion-label>
      <img src="assets/imgs/line.png" class="line_img">
    </div>

    <ion-button class="join_btn" expand="full" (click)="goToHome()">
      <img class="btn_search" src="assets/imgs/google.png">JOIN WITH GOOGLE
    </ion-button> -->
  </div>
</ion-content>