.header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo_div{
        display: flex;
        .header_lbl{
            color: var(--ion-color-main);
            font-weight: bold;
            font-size: 18px;
            margin-left: 10px;
        }
        .logo_img{
            margin-left: 1px;
            width: 20px;
            height: 20px;
        }
    }
    ion-button{
        color: var(--ion-color-main);
        font-weight: 600;
        font-size: 14px;
    }
}
.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;

    .header_lbl{
        font-size: 26px;
        font-weight: 600;
    }
    .join_btn{
        --background : white;
        --color: #0077B5;
        // --border-radius: 10px;
        border: 1px solid var(--ion-color-main);
    }
    .btn_search{
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }
    .or_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;

        .line_img{
            height: 10px;
            width: 40%;
        }
        .or_text{
            color: black;
        }
    }

    .form_div{
        ion-item{
            border-bottom: none;
            --padding-start: 0px;
            .ip{
                border-bottom: 1px solid white;
            }
        }

        .join_now{
            margin-top: 20px;
            border: 1px solid white;
            --background : var(--ion-color-main);
            font-weight: bold;
            font-size: 18px;
        }

        .bottom_lbl{
            display: block;
            font-size: 14px;
            margin-top: 20px;

            span{
                color: var(--ion-color-main) !important;
                font-weight: bold;
                color: gra;
            }
        }
    }
}