ion-content{
    --background: #0077B5;
}
.main_content_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    padding-top: 100px;
    height: 100vh;

    .upper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;

        .close_icn{
            position: absolute;
            top: -40px;
            left: 0px;
        }

        
        .round_div{
            background-color: white;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            position: relative;
    
            .google_img{
                height: 40px;
                width: 40px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .head_lbl{
            color: white;
            font-size: 26px;
            display: block;
            text-align: center;
            margin-top: 20px;
        }
    
        .profile_div{
            margin-top: 50px;
            .email{
                display: flex;
                align-items: center;
                color: white;
                margin-top: 20px;
                .img_size{
                    width: 20px;
                    margin-right: 15px;
                }
            }
        }
    }

    .lower{
        width: 100%;
        .btn_1{
            --background: white;
            --color: #0077B5;
        }
    }
    
}