<ion-content>
  <div class="main_content_div">
    <div class="upper">
      <ion-buttons slot="start" class="close_icn">
        <ion-button (click)="modalClose()" color="light" style="font-size: 30px;">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- <ion-icon name="close" class="close_icn" (click)="modalClose()"></ion-icon> -->
      
      <div class="round_div">
        <img src="assets/imgs/google.png" class="google_img">
      </div>
      <ion-label class="head_lbl">Get set up quickly with <br> Google. We'll receive : </ion-label>

      <div class="profile_div">
        <div class="email">
          <img src="assets/imgs/email.png" class="img_size">Email Address
        </div>
        <div class="email">
          <img src="assets/imgs/profile.png" class="img_size">Your Google Profile
        </div>
      </div>
    </div>

    <div class="lower">
      <ion-button expand="full" class="btn_1">
        CONTINUE
      </ion-button>
      <ion-button expand="full" fill="clear" color="light" (click)="modalClose()">
        CANCEL
      </ion-button>
    </div>
  </div>
</ion-content>
