<ion-header>
  <ion-toolbar>
    <div class="header_div">
      <ion-button (click)="BackButton()" slot="start">
        <ion-icon  name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;" (click)="goToChatList()"></ion-icon>
    </div>
    <!-- <ion-title *ngIf="!categoryTitle">Recent posts</ion-title> -->
    <ion-title *ngIf="categoryTitle">{{categoryTitle}} posts</ion-title>
    <ion-buttons slot="start" *ngIf="categoryTitle">
      <ion-back-button defaultHref="posts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width: -webkit-fill-available;" *ngIf="!posts.length>0" src="assets/imgs/no_result.jpg">
  <div *ngIf="posts.length>0" class="main_content_div">

   


    
    <div style="margin-top: 10px;">
      
        <!-- Card 1 [routerLink]="['/post', post.id]"  -->
        <ion-content class="page-content"></ion-content>
        <div class="div_card" *ngFor="let post of posts" >
          <div  class="head_div">

            <div class="img_div" [routerLink]="['/members-detail', post.user_id]" [style.backgroundImage]="'url('+post.user_avatar+')'"></div>

            <div class="content_div" (click)="singlefeed(post.id)">
              <p *ngIf="post.discussion!='' && grpid" class="head_lbl">{{post.name}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
                {{post.discussion}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">in the group</ion-label> <img src="{{data.media_url}}" [routerLink]="['/group-detail', grpid]" style="margin: -5px; border-radius: 10px;"  width="20" height="20" alt="Group logo of {{post.group_name}}">
               <ion-label style=" margin-left: 8px;" [routerLink]="['/group-detail', grpid]">{{post.group_name}}</ion-label></p>


              <p *ngIf="post.discussion=='' && grpid " class="head_lbl">{{post.name}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
              <img src="{{data.media_url}}" style="margin: -5px; border-radius: 10px;"  width="20" height="20" [routerLink]="['/group-detail', grpid]" alt="Group logo of {{post.group_name}}">
              <ion-label style=" margin-left: 8px;" [routerLink]="['/group-detail', grpid]">{{post.group_name}}</ion-label></p>



              <p *ngIf="post.component=='bbpress' && !grpid" class="head_lbl">{{post.name}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
                {{post.discussion}} </p>


              <p *ngIf="post.component=='groups' && !grpid" class="head_lbl">{{post.name}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
              <img src="{{post.media_url}}" style="margin: -5px; border-radius: 10px;" [routerLink]="['/group-detail', post.grpid]" width="20" height="20" alt="Group logo of {{post.group_name}}">
              <ion-label style=" margin-left: 8px;" [routerLink]="['/group-detail', post.grpid]">{{post.group_name}}</ion-label></p>
              
              <p *ngIf="post.component!='groups' && post.component!='bbpress' && !grpid"  class="head_lbl">{{post.name}} <ion-label style="color: #959595; margin-right: 8px;" class="head_type">{{post.title}}</ion-label> 
                </p>



            </div>

            <!-- <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons> -->
          </div>
          <ion-card-title (click)="singlefeed(post.id)" style="    font-size: 16px;
          margin-bottom: 10px;" [innerHTML]="post.content_stripped"></ion-card-title>
          <!-- <div class="desc_div">
            <ion-label  [innerHTML]="post.excerpt.rendered">
              
            </ion-label>


           
            <ion-label class="see_lbl">See more</ion-label>
           </div> -->
           <div (click)="singlefeed(post.id)" *ngIf="post.media">
<div *ngFor="let item of post.media">
          <div class="card_image" [style.backgroundImage]="'url('+item+')'"></div>

        </div> </div>
          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              {{post.favorite_count}}
            </div>
            <div>{{post.comment_count}} Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button  [class]="post.favorited" fill="clear" size="small" (click)="likefeed(post.id)">
                <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button (click)="singlefeed(post.id)"  fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp" style="margin-right:5px"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button (click)="openShareSheet(post.id)" fill="clear" size="small">
                <ion-icon name="share-social" style="margin-right:5px"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div>
     

        <!-- card 2 -->
 <!--        <div class="div_card">
          <div class="head_div">

            <div class="img_div" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>

            <div class="content_div">
              <ion-label class="head_lbl">John Doe</ion-label>
              <ion-label class="small_lbl">InitApps shop</ion-label>
              <ion-label class="small_lbl">1 w • Edited</ion-label>
            </div>

            <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

          <div class="desc_div">
            <ion-label>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text
            </ion-label>
            <ion-label class="see_lbl">See more</ion-label>
          </div>

          <div class="masonry">
            <div class="item">
              <img src="assets/imgs/grid/grid1.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid2.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid3.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid4.jpg">
            </div>
            <div class="item">
              <img src="assets/imgs/grid/grid5.jpg">
            </div>
          </div>

          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              <img src="assets/imgs/heart.png" alt="">
            </div>
            <div>25 Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp" style="margin-right:5px"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="share-social" style="margin-right:5px"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div>

        Card 3 

        <div class="div_card">
          <div class="head_div">

            <div class="img_div" [style.backgroundImage]="'url(assets/imgs/user3.jpg)'"></div>

            <div class="content_div">
              <ion-label class="head_lbl">John Doe</ion-label>
              <ion-label class="small_lbl">InitApps shop</ion-label>
              <ion-label class="small_lbl">1 w • Edited</ion-label>
            </div>

            <ion-buttons class="card_arrow" (click)="openActionSheet()">
              <ion-button color="dark">
                <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

          <div class="desc_div">
            <ion-label>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text
            </ion-label>
            <ion-label class="see_lbl">See more</ion-label>
          </div>

          <video width="100%" height="240" controls poster="assets/imgs/grid/grid4.jpg">
            <source src="assets/imgs/video.mp4" type="video/mp4">
          </video>

          <div class="like_div2">
            <div>
              <img src="assets/imgs/like.png" alt="">
              <img src="assets/imgs/heart.png" alt="">
            </div>
            <div>25 Comments</div>
          </div>

          <div class="like_div" style="padding: 0;border: none;">
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up-sharp"></ion-icon>Like
              </ion-button>
            </div>

            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox-ellipses-sharp"></ion-icon>Comment
              </ion-button>
            </div>
            <div>
              <ion-button fill="clear" size="small">
                <ion-icon name="share-social"></ion-icon>Share
              </ion-button>
            </div>

          </div>
        </div> -->
      
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>