ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
ion-button{
    --box-shadow:none;
}
ion-title{
    color: white;
}
.main_content_div{
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }
    .liked{
        color: #047ead !important;}
    .unliked{
            color: gray;}

    .head_lbl{
        display: block;
        font-weight: 500;
        text-align: left;
        font-size: 14px;
        margin-block-end: 5px;
    }
    .desc_div{
        // padding: 16px;
        background: white;
        position: relative;

        .flex_div{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            .image{
                height: 45px;
                width: 45px;
                min-width: 45px;
                border-radius: 3px;
            }

            .content_div{
                margin-left: 10px;
                .head_lbl{
                    font-weight: 600;
                }
                .small_lbl{
                    font-size: 14px;
                }
            }

            .fallow_btn{
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .content_div{
        margin-top: 10px;
        .desc_lbl{
            font-size: 14px;
            margin-bottom: 20px
        }

        span{
            margin-right: 10px;
            font-weight: 600;
            color: var(--ion-color-main);
        }

        .card_image{
            height: 200px;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .like_div{
            padding-top: 10px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-evenly;
            border-bottom: 1px solid lightgray;
            img{
                width: 20px;
                margin-right: 5px;
            }

            ion-button {
                color: gray;
                font-size: 16px;
            }
        }
        .like_div2{
            padding-top: 10px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            img{
                width: 20px;
                margin-right: 5px;
            }

            ion-button {
                color: gray;
                font-size: 16px;
            }
        }

        .reaction_div{
            margin-top: 15px;
            .users_div{
                margin-top: 5px;
                display: flex;
                .user_img{
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                }
                .round{
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    border: 2px solid #505050;
                    position: relative;

                    .dots{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: #505050;
                        font-size: 20px;
                    }
                }
            }
        }

        .comments_div{
            margin-top: 15px;
            .lbls{
                display: flex;
                justify-content: space-between;

                .relevent{
                    font-weight: 600;
                    color: #505050;
                }
            }

            .flex_div{
                display: flex;
                margin-top: 15px;
                .user_img{
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                }

                .blue_div{
                    padding: 10px;
                    background: #E1E9EE;
                    border-radius: 10px;
                    border-top-left-radius: 0px;
                    position: relative;
                    width: 100%;
                    .abs_icn{
                        right: 10px;
                        top: 10px;
                        position: absolute;
                        color: #505050;
                        font-size: 17px;
                    }
                    .abs_icn2{
                        right: 30px;
                        top: 10px;
                        position: absolute;
                        color: #505050;
                        font-size: 17px;
                    }

                    .head_lbl{
                        font-weight: 600;
                    }
                    .small_lbl{
                        font-size: 14px;
                        color: gray;
                    }
                    .text{
                        margin-top: 7px;
                    }
                }
            }
        }
    }
}
.replytxt{
    font-size: 12px;
   
    color: #0a46a0;
    border-bottom: 3px solid #fffefe;
}
.footer_div{
   
    padding-left: 16px;
    padding-right: 16px;

    
.reply {
    font-size: 13px;
    font-weight: bold;}
    .flex_div{
        display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
        .user_img{
            height: 40px;
            width: 40px;
            min-width: 40px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
        }

        .blue_div{
            padding: 10px;
            background: #E1E9EE;
            border-radius: 10px;
            border-top-left-radius: 0px;
            position: relative;
            width: 100%;}}
    .flex_foot{
        display: flex;
        justify-content: space-between;
    }
    .first_div{
        display: flex;
        align-items: center;
        .user_img{
            height: 30px;
            width: 30px;
            min-width: 30px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
    }
    .second_div{
        display: flex;
        align-items: center;

        .at{
            font-size: 20px;
            color: #505050;
            font-weight: 600;
        }
    }
}