<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{post.group_name}}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="desc_div">
      <div class="flex_div">
        <img src="{{post.user_avatar}}" [routerLink]="['/members-detail', post.user_id]" class="image">
        <div class="content_div">
     
          <p *ngIf="post.discussion!='' && grpid" class="head_lbl">{{post.name}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
            {{post.discussion}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">in the group</ion-label> <img src="{{data.media_url}}" [routerLink]="['/group-detail', grpid]" style="margin: -5px; border-radius: 10px;"  width="20" height="20" alt="Group logo of {{post.group_name}}">
           <ion-label style="display: initial; margin-left: 8px;" [routerLink]="['/group-detail', grpid]">{{post.group_name}}</ion-label></p>


          <p *ngIf="post.discussion=='' && grpid " class="head_lbl">{{post.name}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
          <img src="{{data.media_url}}" style="margin: -5px; border-radius: 10px;"  width="20" height="20" [routerLink]="['/group-detail', grpid]" alt="Group logo of {{post.group_name}}">
          <ion-label style="display: initial; margin-left: 8px;" [routerLink]="['/group-detail', grpid]">{{post.group_name}}</ion-label></p>



          <p *ngIf="post.component=='bbpress' && !grpid" class="head_lbl">{{post.name}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
            {{post.discussion}} </p>


          <p *ngIf="post.component=='groups' && !grpid" class="head_lbl">{{post.name}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">{{post.type_name}}</ion-label> 
          <img src="{{post.media_url}}" style="margin: -5px; border-radius: 10px;" [routerLink]="['/group-detail', post.grpid]" width="20" height="20" alt="Group logo of {{post.group_name}}">
          <ion-label style="display: initial; margin-left: 8px;" [routerLink]="['/group-detail', post.grpid]">{{post.group_name}}</ion-label></p>
          
          <p *ngIf="post.component!='groups' && post.component!='bbpress' && !grpid"  class="head_lbl">{{post.name}} <ion-label style="display: initial;color: #959595; margin-right: 8px;" class="head_type">{{post.title}}</ion-label> 
            </p>
        
          <ion-label class="small_lbl" *ngIf="!post.modified">{{post.date}}</ion-label>
          
 
        </div>

        <div>
          <ion-button class="fallow_btn" (click)="followuser()" *ngIf="follow" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
          <ion-button class="fallow_btn" (click)="unfollowuser()" *ngIf="unfollow" expand="block" fill="clear" size="small">
            - Unfollow
          </ion-button>
        </div>
      </div>
    </div>

    <div class="content_div">
      <ion-label  [innerHTML]="post.content_stripped" class="desc_lbl">
       
      </ion-label>

      <!-- (click)="openActionSheet()" <span>#India</span>
      <span>#Engineering</span>
      <span>#Ionic</span>
      <span>#Initappz</span>
      <span>#Linux</span> -->

      <div (click)="singlefeed(post.id)" *ngIf="post.media">
        <div *ngFor="let item of post.media">
                  <div class="card_image" [style.backgroundImage]="'url('+item+')'"></div>
        
                </div> </div> 
                
                <div class="like_div2">
        <div>
          <img src="assets/imgs/like.png" alt="">
          {{post.favorite_count}}
        </div>
        <div>{{post.comment_count}} Comments</div>
      </div>

      <div class="like_div" style="padding: 0;">
        <div  >
          <ion-button *ngIf="post.favorited" fill="clear" size="small" class="liked"  (click)="likefeed(post.id)">
            <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
          </ion-button>
          <ion-button *ngIf="!post.favorited" fill="clear" size="small" class="unliked"  (click)="likefeed(post.id)">
            <ion-icon name="thumbs-up-sharp" style="margin-right:5px"></ion-icon>Like
          </ion-button>
        </div>

        <div>
          <ion-button (click)="commentfocus()" fill="clear" size="small">
            <ion-icon  name="chatbox-ellipses-sharp"></ion-icon>&nbsp;&nbsp;Comment
          </ion-button>
        </div>
        <div>
          <ion-button  (click)="deletepost(post.id)" [class.button-disabled]="!post.can_delete" fill="clear" size="small">
            <ion-icon name="trash"></ion-icon>&nbsp;&nbsp;Delete
          </ion-button>
        </div>
      </div>

      <!-- <div class="reaction_div">
        <ion-label>Reaction</ion-label>

        <div class="users_div">
          <div class="user_img" *ngFor="let item of (users | slice: 0:5)" [style.backgroundImage]="'url('+item.img+')'">
          </div>
          <div class="round">
            <ion-icon name="ellipsis-horizontal" class="dots"></ion-icon>
          </div>
        </div>
      </div> -->

      <div class="comments_div">
        <div class="lbls">
          <ion-label>Comments</ion-label>
          <!-- <ion-label class="relevent">Most Relevant</ion-label> -->
        </div>
        <div #processContainer>
        </div>
        <div *ngFor="let item of data">
        <div class="flex_div" >
          <div class="user_img" [style.backgroundImage]="'url('+item.user_avatar+')'" [routerLink]="['/members-detail', item.user_id]"></div>
          <div id="id{{item.id}}" class="blue_div" >
            <ion-icon (click)="deletepost(item.id)"   *ngIf="item.can_delete" class="abs_icn2" name="trash"></ion-icon>
            <ion-icon (click)="commentreply(item.id,item.content_stripped,item.user_avatar)" name="arrow-undo-outline" class="abs_icn"></ion-icon>
            <ion-label class="head_lbl">{{item.name}}</ion-label>
           
            <ion-label  class="small_lbl">{{item.date}}</ion-label>

            <ion-label [innerHTML]="item.content_stripped"  class="text">
                 </ion-label>
          </div>
        

         </div> <div style="padding-left: 50px;" *ngIf="item.replycomments"> 
          <div class="flex_div" *ngFor="let itemreply of item.replycomments">
            <div class="user_img" [style.backgroundImage]="'url('+itemreply.user_avatar+')'"></div>
           
            <div  id="id{{itemreply.id}}" class="blue_div" style="
            background: #aed8f3;
        ">
              <ion-icon (click)="deletepost(itemreply.id)" *ngIf="itemreply.can_delete" class="abs_icn2" name="trash"></ion-icon>
              <ion-icon (click)="commentreply(itemreply.id,itemreply.content_stripped,itemreply.user_avatar)" name="arrow-undo-outline" class="abs_icn"></ion-icon>
              <ion-label class="replytxt" (click)="hightlight(itemreply.secondary_item_id)">Reply Comment For <p>{{itemreply.replycomment_text}}</p></ion-label>
              <ion-label style="
              padding-top: 5px;
          " class="head_lbl">{{itemreply.name}}</ion-label>
             
              <ion-label  class="small_lbl">{{itemreply.date}}</ion-label>
  
              <ion-label  [innerHTML]="itemreply.content_stripped"  class="text">
                   </ion-label>
            </div>
           </div>
          </div></div>
        </div>
        </div>

      </div>
    
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
    <ion-col size="4" style="margin-top: 15px;" *ngFor="let item of file_imgs">
      <ion-icon  (click)="dltmedia(item.id)" style="position: relative; bottom: 75px; left: 85px;" name="close-circle-outline"></ion-icon>
      <img style="height: 80px;
      width: 80px; border-radius: 10px;" src="{{item.img}}" >
    </ion-col>
  </ion-row>
  </ion-grid>
  <input
  type="file"
  #fileInput
  (change)="uploadFile($event)"
  hidden="true"
  accept="image/*"
/>
  <!-- <div style="position: relative;">
     <ion-button  (click)="addImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button> -->
  <!--  <ion-button size="small" fill="clear">
      <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
    </ion-button> -->
    <!-- <ion-button (click)="selectImage()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="image-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!plt.is('hybrid')" (click)="attach()" size="small" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button> -->
    <!-- <ion-button size="small" fill="clear" class="at_btn">
      <ion-icon slot="icon-only" name="at-outline"></ion-icon>
    </ion-button> -->
  <!-- </div> -->
  <div class="footer_div">
    <ion-label class="reply" *ngIf="commentid !='' ">Reply To</ion-label> 
      <div class="flex_div" *ngIf="commentid!=''">
        <div class="user_img" [style.backgroundImage]="'url('+commentavatar+')'"></div>
      <div class="blue_div">
        <ion-label *ngIf="commenttext!=''"
         #commenttextid [innerHTML]="commenttext"  class="text"></ion-label>
          <ion-input #commentidid type="hidden" *ngIf="commentid!=''" [(ngModel)]="commentid" placeholder="Leave your thoughts"></ion-input>
        
 </div>

</div>  <div class="flex_foot" > <div class="first_div">
      <div class="user_img" [style.backgroundImage]="'url('+mydata+')'"></div>
      <ion-input #commentfoc type="text" [(ngModel)]="comment" placeholder="Leave your thoughts"></ion-input>
    </div>
    <div class="second_div">
      <!-- <ion-label class="at">@</ion-label> -->
      <ion-button (click)="postcomment()" fill="clear">
        <ion-spinner *ngIf="loading"></ion-spinner> Post
      </ion-button>
    </div>
  </div>
  </div>
</ion-footer>