<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> Pre Sea Training Detail </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">

       
      

        <ion-item>
          <ion-label position="floating">Training Institute</ion-label>
          <ion-input  formControlName="training_institute" [(ngModel)]="data.training_institute" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.training_institute.errors?.required">
          Training Institute is required.
        </span>
        <ion-item>
          <ion-label position="floating">Training Institute (other) </ion-label>
          <ion-input type="text" formControlName="training_institute_other" [(ngModel)]="data.training_institute_other" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.training_institute_other.errors?.required">
          Training Institute (other)  is required.
        </span>



    

      <ion-item>
        <ion-label position="floating">Course Name</ion-label>
        <ion-input  formControlName="course_name" [(ngModel)]="data.course_name" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.course_name.errors?.required">
        Course Name is required.
      </span>
      <ion-item>
        <ion-label position="floating">Attended From (Date)</ion-label>
        <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.attended_from_date"  class="ip" formControlName="attended_from_date" [value]="defaultDate" required></ion-datetime>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.attended_from_date.errors?.required">
        Attended From (Date) is required.
      </span>


        
      <ion-item>
        <ion-label position="floating">Certificate No </ion-label>
        <ion-input  formControlName="pre_certificate_no" [(ngModel)]="data.pre_certificate_no" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pre_certificate_no.errors?.required">
        Certificate No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pre_certificate_no.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">Pre Sea Tar Book No </ion-label>
        <ion-input  formControlName="pre_sea_tar_book_no" [(ngModel)]="data.pre_sea_tar_book_no" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pre_sea_tar_book_no.errors?.required">
        Pre Sea Tar Book No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pre_sea_tar_book_no.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item>
        <ion-label position="floating">Attended To (Date) </ion-label>
        <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.attended_to_date"  class="ip" formControlName="attended_to_date" [value]="defaultDate" required></ion-datetime>
      
       
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.attended_to_date.errors?.required">
        Attended To (Date) is required.
      </span>

      <ion-item>
        <ion-label position="floating">Result </ion-label>
        <ion-input type="text" formControlName="result" [(ngModel)]="data.result" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.result.errors?.required">
        Result is required.
      </span>

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>