<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">{{name}} Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<img style="width: -webkit-fill-available;" *ngIf="!members.length>0" src="assets/imgs/no_result.jpg">
  <div *ngIf="members.length>0" class="main_content_div">


    <span >
      <div class="flex_div" *ngFor="let item of members">
        <div class="first_div">
          <div [style.backgroundImage]="'url('+item.avatar_urls.thumb+')'"  [routerLink]="['/members-detail', item.id]" class="image"></div>
          <div class="content_div">
            <ion-label class="head_lbl">{{item.profile_name}}</ion-label>
            <ion-label class="small_lbl"> {{item.followers}} Followers</ion-label>
          </div>
        </div>
        <div class="second_div">
          <div class="chat_div">
            <ion-icon (click)="goToChatList()" name="chatbubbles" mode="md"></ion-icon>
          </div>
        
          <div class="menu_div">
            <ion-icon (click)="followuser(item.id)" *ngIf="!item.is_following" name="newspaper-outline" mode="md"></ion-icon>
            <ion-icon (click)="unfollowuser(item.id)" *ngIf="item.is_following" name="newspaper" mode="md"></ion-icon>
          </div>
          <div class="menu_div"  *ngIf="item.create_friendship">
            <ion-icon (click)="connectuser(item.id)" *ngIf="item.friendship_status=='not_friends'" name="person-add-outline" mode="md"></ion-icon>
            <ion-icon (click)="deleteuser(item.id)" *ngIf="item.friendship_status!='not_friends'" name="person-remove" mode="md"></ion-icon>
          </div>
        </div>
      </div>
    </span>

  </div>
</ion-content>