<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-button (click)="openActionSheet()" slot="end">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="desc_div">
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>
    </div>

    <div class="content_div">
      <ion-label class="desc_lbl">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </ion-label>

      <span>#India</span>
      <span>#Engineering</span>
      <span>#Ionic</span>
      <span>#Initappz</span>
      <span>#Linux</span>

      <div class="card_image" [style.backgroundImage]="'url(assets/imgs/image1.jpg)'"></div>
      <div class="like_div2">
        <div>
          <img src="assets/imgs/like.png" alt="">
          <img src="assets/imgs/heart.png" alt="">
        </div>
        <div>25 Comments</div>
      </div>

      <div class="like_div" style="padding: 0;">
        <div>
          <ion-button fill="clear" size="small">
            <ion-icon name="thumbs-up-sharp"></ion-icon>&nbsp;&nbsp;Like
          </ion-button>
        </div>

        <div>
          <ion-button fill="clear" size="small">
            <ion-icon name="chatbox-ellipses-sharp"></ion-icon>&nbsp;&nbsp;Comment
          </ion-button>
        </div>
        <div>
          <ion-button fill="clear" size="small">
            <ion-icon name="share-social"></ion-icon>&nbsp;&nbsp;Share
          </ion-button>
        </div>
      </div>

      <div class="reaction_div">
        <ion-label>Reaction</ion-label>

        <div class="users_div">
          <div class="user_img" *ngFor="let item of (users | slice: 0:5)" [style.backgroundImage]="'url('+item.img+')'">
          </div>
          <div class="round">
            <ion-icon name="ellipsis-horizontal" class="dots"></ion-icon>
          </div>
        </div>
      </div>

      <div class="comments_div">
        <div class="lbls">
          <ion-label>Comments</ion-label>
          <ion-label class="relevent">Most Relevant</ion-label>
        </div>

        <div class="flex_div" *ngFor="let item of (users | slice: 0:5)">
          <div class="user_img" [style.backgroundImage]="'url('+item.img+')'"></div>
          <div class="blue_div">
            <ion-icon name="ellipsis-vertical" class="abs_icn"></ion-icon>
            <ion-label class="head_lbl">Jonh Doe • 3rd+</ion-label>
            <ion-label class="small_lbl">Software developer</ion-label>
            <ion-label class="small_lbl">1w</ion-label>

            <ion-label class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </ion-label>
          </div>

        </div>

      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <div class="first_div">
      <div class="user_img" [style.backgroundImage]="'url(assets/imgs/user2.jpg)'"></div>
      <ion-input type="text" placeholder="Leave your thoughts"></ion-input>
    </div>
    <div class="second_div">
      <ion-label class="at">@</ion-label>
      <ion-button fill="clear">
        Post
      </ion-button>
    </div>
  </div>
</ion-footer>