<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Certificate of Competency </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">


 
        

        <ion-item>
          <ion-label position="floating">Grade</ion-label>
          <ion-input  formControlName="competency_grade1" [(ngModel)]="data.competency_grade1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_grade1.errors?.required">
          Grade is required.
        </span>


        <ion-item>
          <ion-label position="floating">
            Certificate Number </ion-label>
          <ion-input  formControlName="competency_certificate_number1" [(ngModel)]="data.competency_certificate_number1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_certificate_number1.errors?.required">
          Certificate Number is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_certificate_number1.errors?.pattern">
          Only numerical values allowed.
        </span>


        
        <ion-item>
          <ion-label position="floating">
            Issued At</ion-label>
          <ion-input type="text" formControlName="competency_issue_at1" [(ngModel)]="data.competency_issue_at1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_issue_at1.errors?.required">
          Issued At is required.
        </span>

        <ion-item>
          <ion-label position="floating">Place of Examination </ion-label>
          <ion-input type="text" formControlName="competency_place_of_examination1" [(ngModel)]="data.competency_place_of_examination1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_place_of_examination1.errors?.required">
          Place of Examination is required.
        </span>

        <ion-item>
          <ion-label position="floating">Certificate delivered (Date)</ion-label>
          <ion-datetime (ionChange)="getDate5($event)"  [(ngModel)]="data.competency_certificate_delivered1"  class="ip" formControlName="competency_certificate_delivered1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_certificate_delivered1.errors?.required">
          Certificate delivered (Date) is required.
        </span>
        <ion-item>
          <ion-label position="floating">Suspended/Cancelled </ion-label>
          <ion-input type="text" formControlName="competency_suspended_cancelled1" [(ngModel)]="data.competency_suspended_cancelled1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_suspended_cancelled1.errors?.required">
          Suspended/Cancelled is required.
        </span>


        <ion-item>
          <ion-label position="floating">From Date</ion-label>
          <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.competency_from_date1"  class="ip" formControlName="competency_from_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_from_date1.errors?.required">
          From Date is required.
        </span>



        <ion-item>
          <ion-label position="floating">Cause </ion-label>
          <ion-input type="text" formControlName="competency_cause1" [(ngModel)]="data.competency_cause1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_cause1.errors?.required">
          Cause is required.
        </span>
       
        <ion-item>
          <ion-label position="floating">Certificate Type</ion-label>
          <ion-input type="text" formControlName="competency_certificate_type1" [(ngModel)]="data.competency_certificate_type1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_certificate_type1.errors?.required">
          Certificate Typeis required.
        </span>


        <ion-item>
          <ion-label position="floating">Issuing Country </ion-label>
          <ion-input type="text" formControlName="competency_issuing_country1" [(ngModel)]="data.competency_issuing_country1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_issuing_country1.errors?.required">
          Issuing Country is required.
        </span>

        <ion-item>
          <ion-label position="floating">Issue Date</ion-label>
          <ion-datetime (ionChange)="getDate4($event)"  [(ngModel)]="data.competency_issue_date1"  class="ip" formControlName="competency_issue_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_issue_date1.errors?.required">
          Issue Date is required.
        </span>

        <ion-item>
          <ion-label position="floating">Valid Upto (Date)</ion-label>
          <ion-datetime (ionChange)="getDate3($event)"  [(ngModel)]="data.competency_valid_upto_date1"  class="ip" formControlName="competency_valid_upto_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_valid_upto_date1.errors?.required">
          Valid Upto (Date) is required.
        </span>
  


        <ion-item>
          <ion-label position="floating">By which Authority/Court </ion-label>
          <ion-input type="text" formControlName="competency_by_which_authority_court1" [(ngModel)]="data.competency_by_which_authority_court1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_by_which_authority_court1.errors?.required">
          By which Authority/Court is required.
        </span>

       
        <ion-item>
          <ion-label position="floating">To Date (Date)</ion-label>
          <ion-datetime (ionChange)="getDate2($event)"  [(ngModel)]="data.competency_to_date1"  class="ip" formControlName="competency_to_date1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competency_to_date1.errors?.required">
          To Date (Date) is required.
        </span>
       

      


      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>