<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Edit profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   


    <div class="form_div">
   


       <ion-card id="content" [style.backgroundImage]="'url('+data.cover+')'">
        <ion-label (click)="selectcoverImageSource()" class="edit-btn"> <ion-spinner style="color:white" *ngIf="loading3"></ion-spinner> <ion-icon *ngIf="edit_icon2" name="create-outline"></ion-icon></ion-label>
        
        <ion-label (click)="selectImageSource()" class="edit-btn2"><ion-spinner style="color:white" *ngIf="loading"></ion-spinner>  <ion-icon *ngIf="edit_icon" name="create-outline"></ion-icon></ion-label>
          
        <ion-avatar id="profile-info">
          <img id="profile-image" src="{{data.avatar}}">
        </ion-avatar>
        <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
    <input
    type="file"
    #fileInput2
    (change)="uploadCoverFile($event)"
    hidden="true"
    accept="image/*"
  />
      </ion-card>
      <form [formGroup]="userForm" (ngSubmit)="userupdate()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input  formControlName="firstname" [(ngModel)]="data.firstname" class="ip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input  formControlName="lastname" [(ngModel)]="data.lastname " class="ip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nick Name</ion-label>
        <ion-input formControlName="nickname" [(ngModel)]="data.nickname" class="ip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" [(ngModel)]="data.email" class="ip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password (6+ Character)</ion-label>
        <ion-input type="password"  formControlName="password" class="ip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">About Me</ion-label>
        <ion-textarea formControlName="description" [(ngModel)]="data.description" class="ip"></ion-textarea>
      </ion-item>
     

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>