<ion-header>
  <div class="div_header">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button>
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Sent</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- <ion-button fill="clear" size="small">
      <ion-icon name="settings-outline" color="light" style="font-size: 22px;"></ion-icon>
    </ion-button> -->
  </div>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <span *ngIf="segId == 'ion-sb-0'">
     

   
      <div class="flex_div" *ngFor="let item of members">
       
        <div class="f_div">
          <div class="back_image" [style.backgroundImage]="'url('+item.avatar_urls.thumb+')'"></div>
          <div class="detail">
            <ion-label class="name">{{item.profile_name}}</ion-label>
            <ion-label class="desc">{{item.followers}} Followers</ion-label>
          </div>
        </div>
        <div class="s_div">
         
            <!-- <ion-icon (click)="invite(item.id)" name="person-add-outline" mode="md"></ion-icon> -->
           
        
        </div>      
      </div>

    </span>

    <span *ngIf="segId == 'ion-sb-1'">
    
      <div class="flex_div" *ngFor="let item of members">
       
        <div class="f_div">
          <div class="back_image" [style.backgroundImage]="'url('+item.avatar_urls.thumb+')'"></div>
          <div class="detail">
            <ion-label class="name">{{item.profile_name}}</ion-label>
            <ion-label class="desc">{{item.followers}} Followers</ion-label>
          </div>
        </div>
        <div class="s_div">
          <div class="menu_div"  >
            <ion-icon (click)="invite(item.id)" style="font-size: 28px;
            padding: 2px;" name="person-add-outline" mode="md"></ion-icon>
           
          </div>
        </div>      
      </div>

    </span>

    
    
  </div>
</ion-content>
