<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Steve raj</ion-title>
  </ion-toolbar>
</ion-header>







<ion-content>
  <div class="main_content_div">
   
      <ion-card id="content"  >
       <div id="divcontent" [style.backgroundImage]="'url('+data.cover+')'">

      
        <!-- <ion-label (click)="goToeditprofile()" class="edit-btn"> <ion-icon name="create-outline"></ion-icon></ion-label> -->
          
        <ion-avatar id="profile-info">
          <img id="profile-image" src="{{data.avatar}}">
          <ion-label class="text-tag" >Developer</ion-label>
        </ion-avatar>
        <ion-grid fixed>
          <ion-row style=" margin-top: 110px;">
            
            <ion-col size="3"></ion-col>
            <ion-col size="6"><ion-label style="text-align: center;
              font-size: 20px;
              font-weight: bold;">{{data.firstname}} {{data.lastname}}</ion-label>
              <ion-label style="text-align: center;
              font-size: 14px;
              ">{{data.nickname}} - {{data.registered_date}}</ion-label></ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row style=" margin-top: 5px;">
            <ion-col size="3">
              
            </ion-col>
            <ion-col size="3">
              <ion-label class="text-label">{{data.followers}}</ion-label>
              <ion-label class="text-label1" >Followers</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="text-label">{{data.following}}</ion-label>
              <ion-label  class="text-label1">Following </ion-label>
            </ion-col>
            <ion-col size="3">
              
            </ion-col>
        </ion-row>
       

        
        </ion-grid>
      </div>
      </ion-card>
      <!-- <div class="user_image">
        <img src="assets/imgs/company/initappz.png" alt="">
       
      </div>
      <div class="data_div">
        <ion-label class="group_title">Web Developers</ion-label>
        <ion-label class="group_type">Public / Group . 10 Memers</ion-label>
        <ion-label class="description">Lorem ipsum
          dolor sit amet
          
          consectetur adipiscing elit. Duis ut urna neque.
          
          </ion-label>
        
         <div class="admin">
          <img src="assets/imgs/clock.png">
          <ion-label class="admin_name">John</ion-label>
        </div> 
        </div> -->
        
        <ion-label class="general" >General Infromation</ion-label>
   
    <ion-card class="personal_div">
     
      <div  class="white_div" style=" border-top: 0px !important;">
        <ion-label class="blue_lbl">First name</ion-label>
          
          <ion-label class="lable-icon"> {{data.firstname}}  </ion-label>   
        
      </div>
      <div  class="white_div" >
        <ion-label class="blue_lbl">Last name</ion-label>
          
          <ion-label class="lable-icon"> {{data.lastname}} </ion-label>   
        
      </div>
      <div  class="white_div" >
        <ion-label class="blue_lbl">Nick name</ion-label>
          
          <ion-label class="lable-icon"> {{data.nickname}} </ion-label>   
        
      </div>
      <!-- <div  class="white_div" >
        <ion-label class="blue_lbl">Date of Birth</ion-label>
          
          <ion-label class="lable-icon"> 31-10-1996 </ion-label>   
        
      </div>
      <div  class="white_div" >
        <ion-label class="blue_lbl">Gender</ion-label>
          
          <ion-label class="lable-icon"> Male </ion-label>   
        
      </div>
      <div  class="white_div" >
        <ion-label class="blue_lbl">Phone</ion-label>
          
          <ion-label class="lable-icon"> 7871414371 </ion-label>   
        
      </div> -->

      <!-- <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-card>
    <ion-label class="general" >Biography</ion-label>
   
    <ion-card class="personal_div">
     
      <div  class="white_div" style=" border-top: 0px !important;">
        <ion-label class="blue_lbl">Biography</ion-label>
          
          <ion-label class="lable-icon"> {{data.description}}</ion-label>   
        
      </div>
    </ion-card>
    <!-- <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->