ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}
ion-card-header{
    padding: 5px;
}
ion-card-title{
    font-size: 17px;
}
ion-card-content{
    font-size: 14px;
}
.count{
    font-size: 13px;
    padding: 5px;
    color: var(--ion-color-main);
}
.notfound{
    border: 4px solid #0e76a8;
    display: flex !important;
    margin: 10px;
    border-radius: 10px;

    ion-icon{
        background: #0e76a8;
        color: #fff;
        padding: 3px;
        font-size: 25px;
    }
    ion-label{
        font-size: 17px;
        margin-top: 5px;
        margin-left: 7px;
    }

}

ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img{
      margin: 10px;
    }
  }
  .up_lbl{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #e1e9ee;
}
.chips_div{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding-left: 16px;
    padding-right: 16px;
    background: #e1e9ee;
    padding-top: 10px;
    padding-bottom: 20px;


    .chip{
        background-color: white;
        border-radius: 3px;
        padding: 5px 20px;
        margin-right: 10px;
        white-space: nowrap;
        color: var(--ion-color-main);
        font-size: 12px;
        font-weight: bold;
    }
}

.slider_div{
    background: #e1e9ee; 
    padding-top: 10px;

    ion-slides{
        height: 200px;
        margin-top: -35px;
    }

    .slide_div{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        border: 1px solid lightgray;
        // padding: 20px 15px;
        background: white;
      
        justify-content: center;

        .up_div{
            display: flex;
            flex-direction: row;
            padding: 2px;
            width: 395px;
        }

        .img_div{
            width: 40px;
            // padding: 15px;
            .slider_img{
                width: 30px;
                height: 30px;
                min-width: 30px;
            }
        }
        .content_div{
            margin-left: 10px;
            // padding: 15px;

            .abs_lbl{
                position: absolute;
                left: 5px;
                top: 0;
                font-size: 12px;
            }
            .head_lbl{
                display: block;
                font-weight: 500;
                text-align: left;
                font-size: 14px;
            }
            .small_lbl{
                color: #707070;
                text-align: left;
                display: block;
                font-size: 14px;
            }
        }
        .lower_div{
            border-top: 1px solid lightgray;
            padding: 3px;
            display: flex;
            width: 100%;
            justify-content: space-around;

            ion-button{
                color: var(--ion-color-main);
                font-weight: 600;
            }
        }
    }
}
  ion-scroll[scroll-avatar]{
    height: 60px;
  }
  .notification_div{
    padding: 15px 10px;
   
    position: relative;
    background: white;
        
    .time_div{
        position: absolute;
        right: 10px;
        top: 5px;
        color: gray;
    }
    .flex_div{
        display: flex;
        width: 100%;
        align-items: center;
        .back_image{
            height: 50px;
            width: 50px;
            min-width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header_lbl{
            font-weight: 600;
            margin-left: 10px;
            font-size: 14px;
            width: 88%;
        }
        .desc{
            margin-left: 10px;
            font-size: 14px;
            width: 88%;
        }
    }

    .btn_div{
        padding-left: 60px;
        margin-top: 5px;

        ion-button{
            font-weight: 600;
            --border-radius: 3px;
            --border-color: var(--ion-color-main);
            --color: var(--ion-color-main);
            font-size: 16px;
        }
    }
    
}
  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }
  .bck-orange {
    background: #ff9800;
}

.bck-red {
    background: #f4511e;
}

.bck-green {
    background: #afb42b;
}

.bck-yellow {
    background: #ffc400;
}

.bck-blue {
    background: #64b5f6;
}

.bck-pink {
    background: #f48fb1;
}

.md-layout .mbsc-scv-item {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.md-layout .mbsc-scv-c {
    margin: 10px 0;
}

.variable-1 {
    width: 60px;
    height: 60px;
}

.variable-2 {
    width: 80px;
    height: 80px;
}

.variable-3 {
    width: 70px;
    height: 70px;
}

.variable-4 {
    width: 50px;
    height: 50px;
}

.variable-5 {
    width: 100px;
    height: 100px;
}

.variable-6 {
    width: 40px;
    height: 40px;
}

.md-fixed .mbsc-scv-item {
    height: 80px;
    margin: 0 10px;
}

.md-variable .mbsc-scv-item {
    margin: auto 10px;
}

.md-pages .mbsc-scv-item {
    height: 80px;
}

.md-fullpage .mbsc-scv-item {
    height: 630px;
    font-size: 28px;
}
.header_div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;

    .user_image{
        height: 25px;
        width: 25px;
    }
    ion-searchbar{
        --background: white;   
        --placeholder-color:  #707070; 
        --icon-color : #707070;
        border-radius: 0px;
        height: 30px;
    }
}

ion-content{
    --background: #F5F5F5;
}
.blue_lbl{
    color: var(--ion-color-main);
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    .head_lbl{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .white_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;
        // ion-button{
        //     --border-radius: 0px;
        //     ion-label {
        //         text-align: left;
        //         width: 100%;
        //         font-size: 16px;
        //         color: var(--ion-color-main);
        //     }   
        //     ion-icon{
        //         color: var(--ion-color-main);
        //     }
        // }

        
        ion-icon{
            color: var(--ion-color-main);
            position: absolute;
            right: 16px;
            font-size: 20px;
        }

        ion-button{
            color: var(--ion-color-main);
            font-size: 600;
        }
    }

    .flex_div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid lightgray;
        background: white;


        .f_div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 16px;

            .detail{
                width: max-content;
                margin-left: 10px;
                line-height: 20px;
                .desc{
                    color:gray;
                }
            }
            .back_image{
                height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .time{
                margin-left: 2px;
                
            }
        }

        .s_div{
            display: flex;
            align-items: center;
            padding-right: 16px;
            ion-icon{
                font-size: 40px;
            }

            .cross{
                color: gray;
            }
            .check{
                color: var(--ion-color-main);
            }
        }
    }

    .user_div{
        background: white;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 10px;

        .col_div{
            border: 1px solid lightgray;
        }

        ion-grid{
            padding: 0;
        }
        
        .cover{
            height: 50px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .close{
                font-size: 25px;
                // color: #505050;
                color: black;
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
        .back_image{
            height: 75px;
            width: 75px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 40%;
            border: 3px solid white;
        }

        .username{
            margin-top: 45px;
            text-align: center;
            text-align: center;
        }
        .detail{
            margin-top: 5px;
            color: gray;
            text-align: center;
            font-size: 14px;
        }

        .mutual_div{
            display: flex;
            justify-content: center;
            margin-top: 8px;
            .link{
                width: 15px;
                height: 15px;
            }
            .link_lbl{
                font-size: 12px;
                color: gray;
                margin-left: 5px;
            }
        }

        ion-button{
            --border-radius: 3px;
            color: var(--ion-color-main);
            --border-color: var(--ion-color-main);
            font-weight: 600px;
            margin: 10px;
        }
    }
}