<!-- <ion-header>
  <ion-toolbar>
    <div class="header_div">
      <img src="assets/imgs/user.png" class="user_image">
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <div class="header_div">

      <ion-buttons slot="start">
        <!-- <ion-menu-button color="light"></ion-menu-button> -->
        <img src="assets/imgs/user.png" class="user_image" (click)="openMenu()">
      </ion-buttons>
      <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
        (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
      <ion-icon name="chatbubbles" (click)="goToChatList()" mode="md" color="light" style="font-size: 25px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <!-- <div class="white_div" style="margin-top: -4px;">
      <ion-button (click)="onClick()" fill="clear" expand="block" >
        <ion-label>Manage my network</ion-label>
         <ion-icon name="chevron-forward-outline"></ion-icon>
         <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </div> -->
    <div class="up_lbl" style=" padding-left: 10px; background: white;">
      <ion-label (click)="goToMemberslist()" class="blue_lbl">Members</ion-label>
      <ion-buttons slot="start" >
        <ion-button (click)="goToMemberslist()" style="    font-size: 10px;
        text-transform: none;" color="dark">
          See All
        </ion-button>
        <ion-button (click)="sliderShow(true)" *ngIf="!showSlider" color="dark">
          <ion-icon name="chevron-up-outline" mode="ios"></ion-icon>
        </ion-button>
      
        <ion-button (click)="sliderShow(false)"  *ngIf="showSlider" color="dark">
          <ion-icon name="chevron-down-outline" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>
    <div *ngIf="load">
      <div style="background: white;" class="ion-padding custom-skeleton chips_div">


        <ion-label class="chip"> <ion-avatar >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar></ion-label>
        <ion-label class="chip"> <ion-avatar >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar></ion-label>
        <ion-label class="chip"> <ion-avatar >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar></ion-label>
        <ion-label class="chip"> <ion-avatar >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar></ion-label>

      </div>
      </div>
    <div style="background: white;" class="chips_div" *ngIf="!showSlider">
      <ion-grid *ngIf="members.length>0" fixed>
        <ion-row>
      <ion-col size="3"  *ngFor="let item of (members|slice : 0:4)">
        <ion-label [routerLink]="['/members-detail', item.id]" class="chip" > <ion-avatar >
          <img src="{{item.media_url}}"  class="scroll-item"/>
          <ion-label style="text-align: center;">{{item.name}}</ion-label>
        </ion-avatar></ion-label>
        
      </ion-col>
   
    
    
    </ion-row>
      </ion-grid>
     
    </div>
    <ion-label class="notfound" *ngIf="!members.length>0">
      <ion-icon name="alert-circle-outline"></ion-icon> <ion-label>No Members Found. </ion-label>
    </ion-label>
    <div class="slider_div" style="background: white; height: 300px;"  *ngIf="showSlider && members.length>0">
      <ion-slides mode="ios" style=" height: 340px;" pager="ios" [options]="slideoptions">

        <ion-slide >
          <div class="slide_div">
            <div class="up_div user_div">
              <ion-grid fixed>
                <ion-row>
              <ion-col size="6" *ngFor="let item of (members|slice : 0:2)">
              <div class="col_div" >
                <div class="cover"  [routerLink]="['/members-detail', item.id]" [ngStyle]= "{'background-image': 'url('+ item.cover +')'}" >
                  <ion-icon slot="start" name="close-circle" class="close"></ion-icon>
                  <div class="back_image" 
                 
                [ngStyle]= "{'background-image': 'url('+ item.media_url +')'}"></div>
                </div>
  
                <ion-label class="username">{{item.profile_name}}</ion-label>
                <ion-label class="detail">{{item.user_login}}</ion-label>
  
                <div class="mutual_div">
                  <img src="assets/imgs/link.png" class="link">
                  <ion-label class="link_lbl">{{item.friendship_status}}</ion-label>
                </div>
  
                <ion-button *ngIf="item.friendship_status=='not_friends'" (click)="connectuser(item.id)" expand="block" fill="outline" size="small">
                  CONNECT
                </ion-button>
                <ion-button *ngIf="item.friendship_status!='not_friends'" expand="block" fill="outline" size="small">
                  Requset Sent
                </ion-button>
  
              </div>
              </ion-col> 
             

              </ion-row>
              </ion-grid>
            </div>

            <!-- <div class="lower_div">
              <ion-avatar *ngFor="let item of (members|slice : 0:2)" >
                <img src="{{item.media_url}}"  class="scroll-item"/>
              </ion-avatar>
            </div> -->

          </div>
        </ion-slide >
        <ion-slide *ngIf="members.length>2" >
        <div class="slide_div">
          <div class="up_div user_div">
            <ion-grid fixed>
              <ion-row>
            <ion-col size="6" *ngFor="let item of (members|slice : 2:4)">
            <div class="col_div">
              <div class="cover"  [routerLink]="['/members-detail', item.id]" [ngStyle]= "{'background-image': 'url('+ item.cover +')'}" >
                <ion-icon slot="start" name="close-circle" class="close"></ion-icon>
                <div class="back_image" 
               
              [ngStyle]= "{'background-image': 'url('+ item.media_url +')'}"></div>
              </div>

              <ion-label class="username">{{item.profile_name}}</ion-label>
              <ion-label class="detail">{{item.user_login}}</ion-label>

              <div class="mutual_div">
                <img src="assets/imgs/link.png" class="link">
                <ion-label class="link_lbl">{{item.friendship_status}}</ion-label>
              </div>

              <ion-button *ngIf="item.friendship_status=='not_friends'" (click)="connectuser(item.id)" expand="block" fill="outline" size="small">
                CONNECT
              </ion-button>
              <ion-button *ngIf="item.friendship_status!='not_friends'" expand="block" fill="outline" size="small">
                Requset Sent
              </ion-button>


            </div>
            </ion-col>
     
            </ion-row>
            </ion-grid>
          </div>

         

        </div>
      </ion-slide>
      
    
      </ion-slides>
    
      <ion-label class="notfound" *ngIf="!members.length>0">
        <ion-icon name="alert-circle-outline"></ion-icon> <ion-label>No Members Found. </ion-label>
      </ion-label>
    </div>

     
    
    <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
      <ion-label class="blue_lbl">Activities 
      </ion-label>
    </div>

    <div class="flex_div" *ngFor="let item of (activities|slice : 0:6)">
      <div class="f_div">
        <div class="back_image"  [routerLink]="['/members-detail', item.user_id]" [ngStyle]= "{'background-image': 'url('+ item.media_url +')'}" ></div>
        <!-- <ion-grid><ion-row>
          <ion-col size="">

          </ion-col>
        </ion-row>
      </ion-grid> -->
        <div class="detail">
          <ion-label  style="font-size: 15px;" class="name">{{item.name}}</ion-label>
          <ion-label style="font-size: 14px;" class="desc">{{item.title}}</ion-label>
          <ion-label style="font-size: small; " class="desc" >{{item.content}}</ion-label>
          <ion-label style="font-size: small; color: black;" class="desc" >{{item.date}} ago</ion-label>
        </div>
        <!-- <div class="time">
          
         
        </div> -->
      </div>
    
    </div>
    <ion-label class="notfound" *ngIf="!activities.length>0">
      <ion-icon name="alert-circle-outline"></ion-icon> <ion-label>No Activities Found. </ion-label>
    </ion-label>
    
    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;" (click)="gotoactivitylist()">SHOW MORE</ion-label>
    </div>


    <div   style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px; background: white;">
      <ion-label (click)="goToGroupslist()" class="blue_lbl">Groups <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </div>
    <div class="slider_div" style="background: white;" >
      

      <ion-slides *ngIf="groups.length>0" style="height: 320px;" mode="ios"  pager="ios" [options]="slideoptions">

        <ion-slide  >
          <ion-grid>
            <ion-row > 
              <ion-col size="6" *ngFor="let item of (groups|slice : 0:2)">
          <ion-card [routerLink]="['/group-detail', item.id]" >
    <img style="
    width: 100%;" src="{{item.media_url}}"  alt="ion">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      {{item.description}}
    </ion-card-content> -->
  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
        </ion-slide>

        <ion-slide *ngIf="groups.length>2" >
          <ion-grid >
            <ion-row > 
              <ion-col size="6" *ngFor="let item of (groups|slice : 2:4)">
                <ion-card [routerLink]="['/group-detail', item.id]"    >
                  <img src="{{item.image}}"  alt="ion">
                  <ion-card-header>
                    <ion-card-title>{{item.name}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{item.description}}
                  </ion-card-content>
        </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>
        </ion-slide>
</ion-slides>

<ion-label class="notfound" *ngIf="!groups.length>0">
  <ion-icon name="alert-circle-outline"></ion-icon> <ion-label>No Groups Found. </ion-label>
</ion-label>



</div>

<div class="slider_div" style="background: white; margin-top: 10px;" >
  <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
    <ion-label class="blue_lbl">Notifications <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-label>
  </div>
  <div *ngIf="notifications.length>0" >
  <div class="notification_div"   *ngFor="let item of notifications" (click)="goToPost()">
   
    <div class="flex_div" style="justify-content: flex-start;">
      <div class="back_image" [ngStyle]= "{'background-image': 'url('+ item.avatar +')'}" ></div>
      <div>
        
        <ion-label class="desc">{{item.content}}
        </ion-label>
        <ion-label class="header_lbl">{{item.date}}</ion-label>
      </div>
    </div>
    <!-- <div class="btn_div" *ngIf="item.btn_text != ''">
      <ion-button fill="outline" size="small">
        {{item.btn_text}}
      </ion-button>
    </div> -->
  </div></div>
  <ion-label class="notfound" *ngIf="!notifications.length>0">
    <ion-icon name="alert-circle-outline"></ion-icon> <ion-label> You have no unread notifications. </ion-label>
  </ion-label>

 
</div>

<div class="slider_div" style="background: white; margin-top: 10px;" >
  <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px; display: flex; justify-content: space-between;">
    <ion-label class="blue_lbl">Forums 
    </ion-label>
    <ion-buttons slot="start" >
    <ion-button  (click)="goToForumslist()" style="    font-size: 10px;
      text-transform: none;" color="dark">
        See All
      </ion-button>
    </ion-buttons>
  </div>
  <div  *ngIf="forums.length>0" >

  <div class="notification_div"   *ngFor="let item of forums" >
   
    <div class="flex_div" [routerLink]="['/forum-detail', item.id]" style="justify-content: flex-start;">
      <div class="back_image" [ngStyle]= "{'background-image': 'url('+ item.avatar +')'}" ></div>
      <div>
        <ion-label class="header_lbl">{{item.title}}
        </ion-label>
        <ion-label class="desc ">{{item.content}}
        </ion-label>
        <ion-label class="desc count">{{item.count}} Discussions</ion-label>
      </div>
    </div>
    <!-- <div class="btn_div" *ngIf="item.btn_text != ''">
      <ion-button fill="outline" size="small">
        {{item.btn_text}}
      </ion-button>
    </div> -->
  </div>
</div>
  <ion-label class="notfound" *ngIf="!forums.length>0">
    <ion-icon name="alert-circle-outline"></ion-icon> <ion-label>    No Forums Found. </ion-label>
  </ion-label>
  
</div>
    <!-- <div class="user_div" *ngFor="let item of [1,2,3]">
      <ion-label class="head_lbl">People you nay know from GOVERNMENT ENVIRONMENT COLLEGE, BHAVNAGAR</ion-label>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let item of users" (click)="goToPeopleProfile()">
            <div class="col_div">
              <div class="cover" [style.backgroundImage]="'url( ' + item.cover+ ' )'">
                <ion-icon slot="start" name="close-circle" class="close"></ion-icon>
                <div class="back_image" [style.backgroundImage]="'url( ' + item.img+ ' )'"></div>
              </div>

              <ion-label class="username">John Doe</ion-label>
              <ion-label class="detail">GEC, BHAVNAGAR</ion-label>

              <div class="mutual_div">
                <img src="assets/imgs/link.png" class="link">
                <ion-label class="link_lbl">2 Mutual Connection</ion-label>
              </div>

              <ion-button expand="block" fill="outline" size="small">
                CONNECT
              </ion-button>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>    -->

  </div>
</ion-content>