<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Modular Course Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">


        
      

        <ion-item>
          <ion-label position="floating">Course Name</ion-label>
          <ion-input  formControlName="modular_course_name1" [(ngModel)]="data.modular_course_name1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_course_name1.errors?.required">
          Course Name is required.
        </span>
        <ion-item>
          <ion-label position="floating">Training Institute</ion-label>
          <ion-input type="text" formControlName="modular_training_institute1" [(ngModel)]="data.modular_training_institute1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_training_institute1.errors?.required">
          Training Institute is required.
        </span>



    

      <ion-item>
        <ion-label position="floating">STCW Code</ion-label>
        <ion-input  formControlName="modular_stcw_code1" [(ngModel)]="data.modular_stcw_code1" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_stcw_code1.errors?.required">
        STCW Code is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_stcw_code1.errors?.pattern">
        Only numerical values allowed.
      </span>
      <ion-item>
        <ion-label position="floating">Attended From (Date)</ion-label>
        <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.modular_attended_from1"  class="ip" formControlName="modular_attended_from1" [value]="defaultDate" required></ion-datetime>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_attended_from1.errors?.required">
        Attended From (Date) is required.
      </span>
     

        
      <ion-item>
        <ion-label position="floating">Certificate No </ion-label>
        <ion-input  formControlName="modular_certificate_no1" [(ngModel)]="data.modular_certificate_no1" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_certificate_no1.errors?.required">
        Certificate No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_certificate_no1.errors?.pattern">
        Only numerical values allowed.
      </span>
      <ion-item>
        <ion-label position="floating">
          Date of Issue (Date)</ion-label>
        <ion-datetime (ionChange)="getDate2($event)"  [(ngModel)]="data.modular_date_of_issue1"  class="ip" formControlName="modular_date_of_issue1" [value]="defaultDate" required></ion-datetime>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_date_of_issue1.errors?.required">
        
Date of Issue (Date) is required.
      </span>
     

      <ion-item>
        <ion-label position="floating">Attended To (Date) </ion-label>
        <ion-datetime (ionChange)="getDate4($event)"  [(ngModel)]="data.modular_attended_to1"  class="ip" formControlName="modular_attended_to1" [value]="defaultDate" required></ion-datetime>
      
       
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_attended_to1.errors?.required">
        Attended To (Date) is required.
      </span>

      <ion-item>
        <ion-label position="floating">Valid Upto</ion-label>
        <ion-datetime (ionChange)="getDate3($event)"  [(ngModel)]="data.modular_valid_upto1"  class="ip" formControlName="modular_valid_upto1" [value]="defaultDate" required></ion-datetime>
      
       
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.modular_valid_upto1.errors?.required">
        Valid Uptois required.
      </span>

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>