<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light"> 
      Certificate of Endorsement </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">



    <div class="form_div">
   
      <form [formGroup]="userForm" novalidate (ngSubmit)="userupdate()">




        
      

        <ion-item>
          <ion-label position="floating">Endorsement Type </ion-label>
          <ion-input  formControlName="endorsement_type1" [(ngModel)]="data.endorsement_type1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_type1.errors?.required">
          Endorsement Type is required.
        </span>
        <ion-item>
          <ion-label position="floating">Level </ion-label>
          <ion-input type="text" formControlName="endorsement_level1" [(ngModel)]="data.endorsement_level1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_level1.errors?.required">
          Level is required.
        </span>




        <ion-item>
          <ion-label position="floating">Issued At</ion-label>
          <ion-input  formControlName="endorsement_issued_at1" [(ngModel)]="data.endorsement_issued_at1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_issued_at1.errors?.required">
          Issued At is required.
        </span>

        <ion-item>
          <ion-label position="floating">Date of Issue (Date)</ion-label>
          <ion-datetime (ionChange)="getDate($event)"  [(ngModel)]="data.endorsement_date_of_issue1"  class="ip" formControlName="endorsement_date_of_issue1" [value]="defaultDate" required></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_date_of_issue1.errors?.required">
          Attended From (Date) is required.
        </span>
        <ion-item>
          <ion-label position="floating">Remarks </ion-label>
          <ion-input type="text" formControlName="endorsement_remarks1" [(ngModel)]="data.endorsement_remarks1" class="ip" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_remarks1.errors?.required">
          Remarks is required.
        </span>
    


        
      <ion-item>
        <ion-label position="floating">Certificate No </ion-label>
        <ion-input  formControlName="endorsement_certificate_no1" [(ngModel)]="data.endorsement_certificate_no1" class="ip" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_certificate_no1.errors?.required">
        Certificate No is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_certificate_no1.errors?.pattern">
        Only numerical values allowed.
      </span>

     

      <ion-item>
        <ion-label position="floating">Valid Upto (Date) </ion-label>
        <ion-datetime (ionChange)="getDate4($event)"  [(ngModel)]="data.endorsement_valid_upto_date1"  class="ip" formControlName="endorsement_valid_upto_date1" [value]="defaultDate" required></ion-datetime>
      
       
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.endorsement_valid_upto_date1.errors?.required">
        Valid Upto (Date) is required.
      </span>

     

      <ion-button class="join_now"  type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>