<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="cover" [style.backgroundImage]="'url('+data.cover+')'">
      <div class="user_image" style="    background-position: center;
      background-size: cover;
      background-repeat: no-repeat;" [style.backgroundImage]="'url('+data.media_url+')'">
       
        
      </div>
      <div class="data_div">
        <ion-label class="group_title">{{data.name}}</ion-label>
        <ion-label class="group_type">{{data.status}} / {{data.group_type_label}} . {{data.members_count}} Memers</ion-label>
        <ion-label class="description">
          {{data.description}}
          
          </ion-label>
         
        <!-- <div class="admin">
          <img src="assets/imgs/clock.png">
          <ion-label class="admin_name">John</ion-label>
        </div> -->

        <div style="width: 50%;position: relative;margin: auto;">
          <ion-chip style="background-color: white;">
            <ion-avatar>
              <img src="{{data.admin_image}}">
            </ion-avatar>
            <ion-label>{{data.admin_name}}</ion-label>
          </ion-chip>
        </div>
        </div>
       
    </div>

    <div class="personal_div">
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px; border-top: 0px" (click)=" feeds()" >
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="pulse-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Feed </p>
         
        </ion-label>
      </div>
      <div  class="white_div" style="margin-bottom: 0px;" (click)=" members()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="person-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Members </p>
         
        </ion-label>
      </div>
      <div  class="white_div" style="margin-bottom: 0px;" (click)="photos()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="images-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Photos </p>
         
        </ion-label>
      </div>
      <div  class="white_div" style="margin-bottom: 0px;" (click)="editProfile()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="chatbubbles-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Discussion </p>
         
        </ion-label>
      </div>
      <div  class="white_div" style="margin-bottom: 0px;"  [routerLink]="['/group-invites', id1]" >
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="person-add-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Send Invites </p>
         
        </ion-label>
      </div>
      <!-- <div  class="white_div" style="margin-bottom: 0px;" (click)="editProfile()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="chatbox-ellipses-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Send messages </p>
         
        </ion-label>
      </div> -->
      <div  class="white_div" style="margin-bottom: 0px;" (click)="craetegroup()">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="settings-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon">Manage</p>
         
        </ion-label>
      </div>
     

      <!-- <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->