<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Groups</ion-title>
    <ion-icon name="add-circle-outline" mode="md" color="light" style="font-size: 40px;" slot="end" (click)="goTonewgroup()"></ion-icon>
  </ion-toolbar>
  <ion-searchbar placeholder="Search" mode="ios" inputmode="email" type="decimal"
  (ionChange)="onSearchChange($event)" [(ngModel)]='searchtext'  [debounce]="250"></ion-searchbar>
</ion-header>
<div  *ngIf="groups.length>0" class="flex_div2">

  <ion-buttons (click)="fillternews('active')" *ngIf="!active" class="filterbtn">
 Recently Active
  </ion-buttons>

  <ion-buttons  (click)="fillternews('active')" *ngIf="active" class="filterbtn2">
    Recently Active
     </ion-buttons>
  <ion-buttons (click)="fillternews('newest')" *ngIf="!newest" class="filterbtn">
 Newly created
  </ion-buttons>

  <ion-buttons (click)="fillternews('active')"  *ngIf="newest" class="filterbtn2">
    Newly created
     </ion-buttons>
  <ion-buttons  (click)="fillternews('popular')" *ngIf="!popular" class="filterbtn">
    Most Members
  </ion-buttons>
  <ion-buttons (click)="fillternews('active')" *ngIf="popular" class="filterbtn2">
    Most Members
      </ion-buttons>
  <ion-buttons (click)="fillternews('alphabetical')" *ngIf="!alphabetical" class="filterbtn">
    Alphabetical
      </ion-buttons>
      <ion-buttons (click)="fillternews('active')" *ngIf="alphabetical" class="filterbtn2">
        Alphabetical
          </ion-buttons>
     

</div> 
<ion-content>
  <img style="width: -webkit-fill-available;" *ngIf="!groups.length>0" src="assets/imgs/no_result.jpg">
  <div *ngIf="groups.length>0" class="main_content_div">

    <!-- <span *ngIf="text != 'Connections'">
      <div class="flex_div" *ngFor="let item of users">

        <div class="first_div">
          <div [style.backgroundImage]="'url('+item.img+')'" class="image"></div>

          <div class="content_div">
            <ion-label class="head_lbl">Initappz Shop</ion-label>
            <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
          </div>
        </div>

        <div class="second_div">
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            Unfollow
          </ion-button>
        </div>
      </div>
    </span> -->

    <span >
      <div class="flex_div" *ngFor="let item of groups">
        <div class="first_div">
          <div [routerLink]="['/group-detail', item.id]"  [style.backgroundImage]="'url('+item.avatar_urls.thumb+')'" class="image"></div>
          <div class="content_div">
            <ion-label class="head_lbl" [routerLink]="['/group-detail', item.id]" >{{item.name}}</ion-label>
            <ion-label class="small_lbl"> {{item.status}} / {{item.group_type_label}} . {{item.members_count}} Members</ion-label>
            <ion-button *ngIf="!item.is_member && !item.is_admin" (click)="join(item.id)" size="small" class="join" expand="block">
              JOIN
            </ion-button>
            <ion-button *ngIf="item.is_member && !item.is_admin" (click)="leave(item.id)" size="small" class="leave" expand="block">
              <ion-icon style="
              padding: 3px;
          " name="checkmark-outline"></ion-icon>  Member
            </ion-button>
            <ion-button *ngIf="item.is_admin" (click)="leave(item.id)" size="small" class="leave" expand="block">
              <ion-icon style="
              padding: 3px;
          " name="checkmark-outline"></ion-icon>  Organizer
            </ion-button>
          </div>
        </div>
        <div class="second_div">
          <!-- <div class="chat_div">
            <ion-icon (click)="goToChatList()" name="chatbubbles" mode="md"></ion-icon>
          </div> -->
          <!-- <div class="menu_div">
            <ion-icon (click)="followuser(item.id)" *ngIf="!item.is_member" name="person-add-outline" mode="md"></ion-icon>
            <ion-icon (click)="unfollowuser(item.id)" *ngIf="item.is_following" name="person-remove" mode="md"></ion-icon>
          </div> -->
        </div>
      </div>
    </span>

  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more alphabetical ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>