ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.flex_div2{
   
    font-size: 12px;

    display: flex;
}
.filterbtn2{
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 4px;
    color: white;
    background: var(--ion-color-main);
}
.filterbtn{
    border: 2px solid var(--ion-color-main);
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    margin: 4px;
    background: aliceblue;
}
.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }
    .flex_div{
        display: flex;
        align-items: center;
        padding-top: 10px;
        width: 100%;
        justify-content: space-between;
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;

        .first_div{
            display: flex;
            align-items: center;
        }

        .second_div{
            display: flex;
            align-items: center;

            ion-icon{
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            .chat_div{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid var(--ion-color-main);
                position: relative;
                margin-right: 5px;

                ion-icon{
                    color: var(--ion-color-main);
                }
            }
            .menu_div{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid #505050;
                position: relative;

                ion-icon{
                    color: #505050;
                }
            }
        }
        .leave{
        --background: #d0d0d0;
        font-weight: 600;
        font-size: 16px;
        color: #2e5163;
      
        --border-radius: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
   
        font-size: 14px;
        width: 85%;
        clear: both;}
        .join{
            --background: var(--ion-color-main);
            font-weight: 600;
            font-size: 16px;
            --border-radius: 10px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            font-size: 14px;
            width: 70%;
            clear: both;
          
        }
        .image{
            height: 90px;
            width: 90px;
            max-width: 90px;
            border-radius: 25%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .content_div{
            margin-left: 10px;
            .head_lbl{
                font-weight: 600;
            }
            .small_lbl{
                font-size: 13px;
                margin-top: 5px;
            }
        }

        .fallow_btn{
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
    }
}