<ion-header>
  <ion-toolbar>
    <ion-button (click)="BackButton()" slot="start">
      <ion-icon  name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>







<ion-content>
  <div class="main_content_div">
    <div class="cover" [style.backgroundImage]="'url('+data.cover+')'">
      <ion-card id="content" >
        <ion-avatar id="profile-info">
          <img id="profile-image" src="{{data.avatar}}">
        </ion-avatar>
      <ion-label style="    text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding-top: 70px;
      padding-bottom: 10px;">{{data.name}} </ion-label>
              <ion-label style="text-align: center;
             font-size: 16px;
    padding-bottom: 10px;
              ">@{{data.username}}</ion-label>
            <ion-grid fixed><ion-row style=" margin-top: 5px;">
            <ion-col size="4">
              <!-- <ion-icon  name="newspaper-outline" mode="md"></ion-icon> -->
              <!-- <ion-icon (click)="unfollowuser(item.id)" *ngIf="item.is_following" name="newspaper" mode="md"></ion-icon>
            </div> -->
            <!-- <div class="menu_div"  *ngIf="item.create_friendship"> -->
            

              <ion-label class="icon-label"  *ngIf="data.friendship_status=='not_friends'" (click)="connectuser()"> <ion-icon  class="icon-style" name="person-add-outline"></ion-icon>
                
              </ion-label>
              <ion-label  *ngIf="data.friendship_status=='not_friends'"  class="text-label">Send Requset </ion-label>

              <ion-label *ngIf="data.friendship_status!='not_friends'" class="icon-label" (click)="deleteuser()" style="background-color: #328af5 !important; color:white"> <ion-icon  class="icon-style" name="person-remove-outline"></ion-icon>
                
              </ion-label>
              <ion-label *ngIf="data.friendship_status!='not_friends'" class="text-label">Friend Requset </ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label class="icon-label" (click)="followuser()" *ngIf="!data.is_following"> <ion-icon  class="icon-style" name="receipt-outline"></ion-icon></ion-label>
              <ion-label  *ngIf="!data.is_following" class="text-label" >Follow</ion-label>

              <ion-label class="icon-label" (click)="unfollowuser()" *ngIf="data.is_following" style="background-color: #328af5 !important; color:white"> <ion-icon  class="icon-style" name="receipt-outline"></ion-icon></ion-label>
              <ion-label  *ngIf="data.is_following" class="text-label" >Unfollow</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label class="icon-label" [routerLink]="['/members-profile', data.id]" > <ion-icon  class="icon-style" name="person-outline"></ion-icon></ion-label>
              <ion-label  class="text-label">Profile </ion-label>
            </ion-col>
            <!-- <ion-col size="3">
              <ion-label class="icon-label"> <ion-icon  class="icon-style" name="eye-outline"></ion-icon></ion-label>
              <ion-label  class="text-label" >View As </ion-label>
            </ion-col> -->
        </ion-row>
       

        
        </ion-grid>
      </ion-card>
      <!-- <div class="user_image">
        <img src="assets/imgs/company/initappz.png" alt="">
       
      </div>
      <div class="data_div">
        <ion-label class="group_title">Web Developers</ion-label>
        <ion-label class="group_type">Public / Group . 10 Memers</ion-label>
        <ion-label class="description">Lorem ipsum
          dolor sit amet
          
          consectetur adipiscing elit. Duis ut urna neque.
          
          </ion-label>
        
         <div class="admin">
          <img src="assets/imgs/clock.png">
          <ion-label class="admin_name">John</ion-label>
        </div> 
        </div> -->
        
    </div>
   
    <div style="display: none;" class="personal_div">
     
   
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="pulse-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Timeline </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="person-add-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Connections </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="people-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Groups </p>
         
        </ion-label>
  
      </div> <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="images-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Photos </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="chatbox-ellipses-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Forums </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="star-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Points </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="stats-chart-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Achivements </p>
         
        </ion-label>
      </div>
      <div style="margin-top: 10px;" class="white_div" style="margin-bottom: 0px;">
        <ion-label class="blue_lbl"><ion-icon class="left-icon" name="podium-outline"></ion-icon>
          <ion-icon  class="right-icon"  name="chevron-forward-outline"></ion-icon>
          <p class="lable-icon"> Ranks </p>
         
        </ion-label>
      </div>
     

      <!-- <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" class="save" size="small" fill="outline">
              SAVE
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" class="apply" expand="block">
              APPLY
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- <div class="job_div">
      <ion-label class="job_header">Job Description</ion-label>
      <ion-label>Web Designer - No of opening : 6</ion-label>
      <ion-label>Required Experience : 1 - 3 Years</ion-label>
      <ion-label>Job brief We are looking for a talented Web..</ion-label>
    </div>

    <div class="white_div">
      <ion-label class="blue_lbl" style="text-align: center;">SEE MORE</ion-label>
    </div>

    <div class="desc_div">
      <ion-label>Set alert for similar jobs</ion-label>
      <ion-label class="light_lbl">Web Designer, Bhavnagar, India</ion-label>
      <ion-toggle></ion-toggle>
    </div>

    <div class="desc_div">
      <ion-label>See company insights for Initappz Shop with Premiun</ion-label>
      <ion-button class="premium_btn" expand="block">
        TRY PREMIUM FOR FREE
      </ion-button>
    </div>

    <div class="desc_div">
      <ion-label>Keep up with updates and jobs</ion-label>
      <div class="flex_div">
        <img src="assets/imgs/user.jpg" class="image">
        <div class="content_div">
          <ion-label class="head_lbl">Initappz Shop</ion-label>
          <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
        </div>
        <div>
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            + Follow
          </ion-button>
        </div>
      </div>

    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="save" size="small" fill="outline">
          SAVE
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" class="apply" expand="block">
          APPLY
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->