ion-toolbar{
    --background : var(--ion-color-main);
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 0px;
    padding-bottom: 0px;
}

.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }
    .flex_div{
        display: flex;
        align-items: center;
        padding-top: 10px;
        width: 100%;
        justify-content: space-between;
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;

        .first_div{
            display: flex;
            align-items: center;
        }

        .second_div{
            display: flex;
            align-items: center;

            ion-icon{
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            .chat_div{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid var(--ion-color-main);
                position: relative;
                margin-right: 5px;

                ion-icon{
                    color: var(--ion-color-main);
                }
            }
            .menu_div{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid #505050;
                position: relative;

                ion-icon{
                    color: #505050;
                }
            }
        }

        .image{
            height: 45px;
            width: 45px;
            max-width: 45px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .content_div{
            margin-left: 10px;
            .head_lbl{
                font-weight: 600;
            }
            .small_lbl{
                font-size: 14px;
            }
        }

        .fallow_btn{
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
    }
}