<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{text}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <span *ngIf="text != 'Connections'">
      <div class="flex_div" *ngFor="let item of users">

        <div class="first_div">
          <div [style.backgroundImage]="'url('+item.img+')'" class="image"></div>

          <div class="content_div">
            <ion-label class="head_lbl">Initappz Shop</ion-label>
            <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
          </div>
        </div>

        <div class="second_div">
          <ion-button class="fallow_btn" expand="block" fill="clear" size="small">
            Unfollow
          </ion-button>
        </div>
      </div>
    </span>

    <span *ngIf="text == 'Connections'">
      <div class="flex_div" *ngFor="let item of users">
        <div class="first_div">
          <div [style.backgroundImage]="'url('+item.img+')'" class="image"></div>
          <div class="content_div">
            <ion-label class="head_lbl">Initappz Shop</ion-label>
            <ion-label class="small_lbl">E-learning 22,300 followers</ion-label>
          </div>
        </div>
        <div class="second_div">
          <div class="chat_div">
            <ion-icon (click)="goToChatList()" name="chatbubbles" mode="md"></ion-icon>
          </div>
          <div class="menu_div">
            <ion-icon name="ellipsis-vertical" mode="md"></ion-icon>
          </div>
        </div>
      </div>
    </span>

  </div>
</ion-content>