

            .flex_div{
                display: flex;
                margin-top: 15px;
                .user_img{
                    height: 40px;
                    width: 40px;
                    min-width: 40px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                }

                .blue_div{
                    padding: 10px;
                    background: #E1E9EE;
                    border-radius: 10px;
                    border-top-left-radius: 0px;
                    position: relative;
                    width: 100%;
                    .abs_icn{
                        right: 10px;
                        top: 10px;
                        position: absolute;
                        color: #505050;
                        font-size: 17px;
                    }
                    .abs_icn2{
                        right: 30px;
                        top: 10px;
                        position: absolute;
                        color: #505050;
                        font-size: 17px;
                    }

                    .head_lbl{
                        font-weight: 600;
                    }
                    .small_lbl{
                        font-size: 14px;
                        color: gray;
                    }
                    .text{
                        margin-top: 7px;
                    }
                }
            }
        