
 <div class="flex_div" *ngFor="let item of data">
          <div class="user_img" [style.backgroundImage]="'url('+item.user_avatar+')'"></div>
          <div class="blue_div">
            <ion-icon (click)="deletepost(item.id)" class="abs_icn2" name="trash"></ion-icon>
            <ion-icon (click)="commentreply(item.id,item.content_stripped,item.user_avatar)" name="arrow-undo-outline" class="abs_icn"></ion-icon>
            <ion-label class="head_lbl">{{item.name}}</ion-label>
           
            <ion-label  class="small_lbl">{{item.date}}</ion-label>

            <ion-label  [innerHTML]="item.content_stripped"  class="text">
                 </ion-label>
          </div>
          <div  *ngIf="item.comments" >
          <ion-label (click)="loaddata(item.comments)"  class="small_lbl">Comment Replies..</ion-label>
        </div>

       
   
        </div>

        <div #processContainer>
        </div>