<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md"></ion-back-button>
    </ion-buttons>
   
    <ion-title *ngIf="!update"  color="light">Create Group</ion-title>
    <ion-title *ngIf="update"  color="light">Update Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
   


    <div class="form_div">
   


       <ion-card id="content" *ngIf="update"  [style.backgroundImage]="'url('+groupdata.cover+')'">
        <ion-label (click)="selectcoverImageSource()" class="edit-btn"> <ion-spinner style="color:white" *ngIf="loading3"></ion-spinner> <ion-icon *ngIf="edit_icon2" name="create-outline"></ion-icon></ion-label>
        
        <ion-label (click)="selectImageSource()" class="edit-btn2"><ion-spinner style="color:white" *ngIf="loading"></ion-spinner>  <ion-icon *ngIf="edit_icon" name="create-outline"></ion-icon></ion-label>
          
        <ion-avatar id="profile-info">
          <img id="profile-image" src="{{groupdata.media_url}}">
        </ion-avatar>
        <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      hidden="true"
      accept="image/*"
    />
    <input
    type="file"
    #fileInput2
    (change)="uploadCoverFile($event)"
    hidden="true"
    accept="image/*"
  />
      </ion-card>
      <form [formGroup]="userForm" (ngSubmit)="userupdate()">
      <ion-item>
        <ion-label position="floating">Group Name</ion-label>
        <ion-input  formControlName="groupname" [(ngModel)]="groupdata.name" class="ip"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="floating">Group Description</ion-label>
        <ion-textarea formControlName="groupdescription" [(ngModel)]="groupdata.description" class="ip"></ion-textarea>
      </ion-item>
     

      <ion-button class="join_now" *ngIf="update" type="submit" expand="full">
         <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Update </ion-label>
      </ion-button>
      <ion-button class="join_now" *ngIf="!update" type="submit" expand="full">
        <ion-spinner *ngIf="loading2"></ion-spinner> <ion-label >   Create </ion-label>
     </ion-button>
      </form>
    </div>

  
  </div>
</ion-content>